# Hugo default output directory
/public
/public_dev
/public_www
/public_nocache
/public_prod
/public_subsites
/resources/_gen/
.hugo_build.lock
## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.vscode-extensions/

# OSX
.DS_Store

# Editor
.idea
.kateproject
.kateproject.local
.swp

# Ignore all the scraped data
scraped-data

#pytest
/test/.jbsite
/test/screenshots/
/test/.pytest_cache
/test/e2e/__pycache__/
/test/screenshots/
/screenshots/
.pytest_cache/
__pycache__

# Ignore all the node_modules
node_modules/

env
core
core
