{{/* see https://bulma.io/documentation/layout/hero/ for size options */}}
{{ $size := .Params.HeroSize | default "is-medium" }}
<section class="hero is-info {{ $size }} has-bg-img"
{{ if ( .Params.HeroImage ) }} 
style="background: url('{{ absURL .Params.HeroImage | safeCSS }}');
       background-position: center;
       background-size: cover;"
{{ end }}>

    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title is-size-1 hero-title">
                {{ .Params.Title }}
            </p>
            <p class="subtitle is-size-2 hero-subtitle">
                {{ .Params.SubTitle }}
            </p>
        </div>
    </div>
</section>

{{ range first 1 ((where site.RegularPages "Section" "news")) }}

<div class="box cta">
    <p class="has-text-centered">
        <span class="tag is-primary">News</span> {{ .Title }}
    </p>
</div>
{{ end }}