<div class="columns is-mobile">
    <div class="column is-three-fifths is-offset-one-fifth">

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box rounded">
                    <p class="title">One</p>
                    <p class="subtitle">Subtitle</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Two</p>
                    <p class="subtitle">Subtitle</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Three</p>
                    <p class="subtitle">Subtitle</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Four</p>
                    <p class="subtitle">Subtitle</p>
                </article>
            </div>
        </div>
    </div>
</div>


<div class="circles">
    <div class="circles item">
        <div class="circles circle"></div>
    </div>
    <div class="circles item">
        <div class="circles circle has-text-centered">Here is a great idea</div>
    </div>
    <div class="circles item">
        <div class="circles circle"></div>
    </div>
    <div class="circles item">
        <div class="circles circle"></div>
    </div>

</div>