<footer class="footer has-background-dark has-text-white">
    <section class="section">
        <div class="container">
            <div class="columns has-text-justified">
                <div class="column">
                    <ul class="block-list is-small is-outlined is-success is-centered mb-4">
                        <li class="is-size-5">Download</li>
                        <li><a class="has-text-white" href="http://">Lastest QGIS</a></li>
                        <li><a class="has-text-white" href="http://">QGIS Latest Realeases</a></li>
                        <li><a class="has-text-white" href="http://">Realeases Notes</a></li>
                        <li><a class="has-text-white" href="http://">Source Code</a></li>
                    </ul>
                    <ul class="block-list is-small is-outlined is-success is-centered">
                        <li class="is-size-5">News</li>
                        <li><a class="has-text-white" href="http://">Realeases</a></li>
                        <li><a class="has-text-white" href="http://">User Cases</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="block-list is-small is-outlined is-success is-centered mb-4">
                        <li class="is-size-5">About</li>
                        <li><a class="has-text-white" href="http://">License</a></li>
                        <li><a class="has-text-white" href="http://">Logo & Trademark</a></li>
                        <li><a class="has-text-white" href="http://">Privacy Policy</a></li>
                    </ul>
                    <ul class="block-list is-small is-outlined is-success is-centered">
                        <li class="is-size-5"> Organization</li>
                        <li><a class="has-text-white" href="http://">People</a></li>
                        <li><a class="has-text-white" href="http://"> Jobs</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="block-list is-small is-outlined is-success is-centered">
                        <li class="is-size-5"> Get Involved</li>
                        <li><a class="has-text-white" href="http://">Write Documentation</a></li>
                        <li><a class="has-text-white" href="http://">Translation</a></li>
                        <li><a class="has-text-white" href="http://">Development</a></li>
                        <li><a class="has-text-white" href="http://">Tests </a></li>
                        <li><a class="has-text-white" href="http://">Daily Report</a></li>
                        <li><a class="has-text-white" href="http://">Plugin Website</a></li>
                        <li><a class="has-text-white" href="http://">Mailing Lists</a></li>
                        <li><a class="has-text-white" href="http://">Project Organization</a></li>
                        <li><a class="has-text-white" href="http://">Meetings</a></li>
                        <li><a class="has-text-white" href="http://">Sustaining Members Programme</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="block-list is-small is-outlined is-success is-centered">
                        <li class="is-size-5">Support</li>
                        <li><a class="has-text-white" href="http://">Community</a></li>
                        <li><a class="has-text-white" href="http://">FAQ</a></li>
                        <li><a class="has-text-white" href="http://">Tutorials</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="block-list is-small is-outlined is-success is-centered ">
                        <li class="is-size-5">Follow QGIS</li>
                        <li class=""><i class="m-2 fa fa-lg fa-facebook-official" aria-hidden="true"> </i>Facebook</li>
                        <li class=""><i class="m-2 fa fa-lg fa-youtube-play" aria-hidden="true"></i>Youtube</li>
                        <li><i class="m-2 fa fa-lg fa-twitter" aria-hidden="true"></i>Twitter</li>
                        <li><i class="m-2 fa fa-lg fa-instagram" aria-hidden="true"></i>Instagram</li>
                        <li><i class="m-2 fa fa-lg fa-github" aria-hidden="true"></i>GitHub</li>
                        <li><i class="m-2 fa fa-lg fa-envelope-o" aria-hidden="true"></i>Mailing List</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>