<footer class="footer has-background-dark has-text-white">
    <section class="section">
        <div class="container">
            <div class="columns has-text-justified">
                <div class="column">
                    <ul class="block-list is-small is-outlined is-success is-centered mb-4">
                        <li class="is-size-5">Download</li>
                        <li><a href="http://" class="has-text-white">Latest QGIS</a></li>
                        <li><a href="http://" class="has-text-white">QGIS Latest Releases</a></li>
                        <li><a href="http://" class="has-text-white">Release Notes</a></li>
                        <li><a href="http://" class="has-text-white">Source Code</a></li>
                    </ul>
                    <ul class="block-list is-small is-outlined is-success is-centered">
                        <li class="is-size-5">News</li>
                        <li><a href="http://" class="has-text-white">Releases</a></li>
                        <li><a href="http://" class="has-text-white">User Cases</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="block-list is-small is-outlined is-success is-centered mb-4">
                        <li class="is-size-5">About</li>
                        <li><a href="http://" class="has-text-white">License</a></li>
                        <li><a href="http://" class="has-text-white">Logo & Trademark</a></li>
                        <li><a href="http://" class="has-text-white">Privacy Policy</a></li>
                    </ul>
                    <ul class="block-list is-small is-outlined is-success is-centered">
                        <li class="is-size-5">Organization</li>
                        <li><a href="http://" class="has-text-white">People</a></li>
                        <li><a href="http://" class="has-text-white">Jobs</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="block-list is-small is-outlined is-success is-centered">
                        <li class="is-size-5">Get Involved</li>
                        <li><a href="http://" class="has-text-white">Write Documentation</a></li>
                        <li><a href="http://" class="has-text-white">Translation</a></li>
                        <li><a href="http://" class="has-text-white">Development</a></li>
                        <li><a href="http://" class="has-text-white">Tests </a></li>
                        <li><a href="http://" class="has-text-white">Daily Report</a></li>
                        <li><a href="http://" class="has-text-white">Plugin Website</a></li>
                        <li><a href="http://" class="has-text-white">Mailing Lists</a></li>
                        <li><a href="http://" class="has-text-white">Project Organization</a></li>
                        <li><a href="http://" class="has-text-white">Meetings</a></li>
                        <li><a href="http://" class="has-text-white">Sustaining Members Programme</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="block-list is-small is-outlined is-success is-centered">
                        <li class="is-size-5">Support</li>
                        <li><a href="http://" class="has-text-white">Community</a></li>
                        <li><a href="http://" class="has-text-white">FAQ</a></li>
                        <li><a href="http://" class="has-text-white">Tutorials</a></li>
                    </ul>
                </div>
                <div class="column follow-qgis">
                    <ul class="block-list is-small is-outlined is-success is-centered ">
                        <li class="is-size-5">Follow QGIS</li>
                        <li><a href="http://" class="has-text-white"><img width="25" height="40" src="{{ absURL "svg/facebook.svg" }}" alt="facebook"/><span class="is-size-6"> Facebook</span></a></li>
                        <li><a href="http://" class="has-text-white"><img width="25" height="40" src="{{ absURL "svg/youtube.svg" }}" alt="Youtube"/><span class="is-size-6"> Youtube</span></a></li>
                        <li><a href="http://" class="has-text-white"><img width="25" height="40" src="{{ absURL "svg/twitter.svg" }}" alt="Twitter"/><span class="is-size-6"> Twitter</span></a></li>
                        <li><a href="http://" class="has-text-white"><img width="25" height="40" src="{{ absURL "svg/instagram.svg" }}" alt="Instagram"/><span class="is-size-6"> Instagram</span></a></li>
                        <li><a href="http://" class="has-text-white"><img width="25" height="40" src="{{ absURL "svg/github.svg" }}" alt="Github"/><span class="is-size-6"> GitHub</span></a></li>
                        <li><a href="http://" class="has-text-white"><img width="25" height="40" src="{{ absURL "svg/envelopes-bulk-solid.svg" }}" alt="Mailing List"/><span class="is-size-6"> Mailing List</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>