<footer class="footer has-background-dark has-text-white">
    <section class="section">
        <div class="container is-fluid">
            <div class="columns has-text-justified">
                <div class="column">
                    <ul class="block-list is-small is-outlined is-success is-centered mb-4">
                        <li class="is-size-5">Download</li>
                        <li><a href="http://" class="has-text-white">Latest QGIS</a></li>
                        <li><a href="http://" class="has-text-white">QGIS Latest Releases</a></li>
                        <li><a href="http://" class="has-text-white">Release Notes</a></li>
                        <li><a href="http://" class="has-text-white">Source Code</a></li>
                    </ul>
                    <ul class="block-list is-small is-outlined is-success is-centered">
                        <li class="is-size-5">News</li>
                        <li><a href="http://" class="has-text-white">Releases</a></li>
                        <li><a href="http://" class="has-text-white">User Cases</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="block-list is-small is-outlined is-success is-centered mb-4">
                        <li class="is-size-5">About</li>
                        <li><a href="http://" class="has-text-white">License</a></li>
                        <li><a href="http://" class="has-text-white">Logo & Trademark</a></li>
                        <li><a href="http://" class="has-text-white">Privacy Policy</a></li>
                    </ul>
                    <ul class="block-list is-small is-outlined is-success is-centered">
                        <li class="is-size-5">Organization</li>
                        <li><a href="http://" class="has-text-white">People</a></li>
                        <li><a href="http://" class="has-text-white">Jobs</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="block-list is-small is-outlined is-success is-centered">
                        <li class="is-size-5">Get Involved</li>
                        <li><a href="http://" class="has-text-white">Write Documentation</a></li>
                        <li><a href="http://" class="has-text-white">Translation</a></li>
                        <li><a href="http://" class="has-text-white">Development</a></li>
                        <li><a href="http://" class="has-text-white">Tests </a></li>
                        <li><a href="http://" class="has-text-white">Daily Report</a></li>
                        <li><a href="http://" class="has-text-white">Plugin Website</a></li>
                        <li><a href="http://" class="has-text-white">Mailing Lists</a></li>
                        <li><a href="http://" class="has-text-white">Project Organization</a></li>
                        <li><a href="http://" class="has-text-white">Meetings</a></li>
                        <li><a href="http://" class="has-text-white">Sustaining Members</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="block-list is-small is-outlined is-success is-centered mb-4">
                        <li class="is-size-5">Support</li>
                        <li><a href="http://" class="has-text-white">Community</a></li>
                        <li><a href="http://" class="has-text-white">FAQ</a></li>
                        <li><a href="http://" class="has-text-white">Tutorials</a></li>
                    </ul>
                    <ul class="block-list is-small is-outlined is-success is-centered">
                        <li class="is-size-5">This site</li>
                        <li><a href="{{.Site.Params.githubIssueUrl}}" class="has-text-white">Report an issue</a></li>
                        <li><a href="{{.Site.Params.githubEditUrl}}/content/{{.File.Path}}" class="has-text-white">Edit this page</a></li>
                        <li><a href="{{.Site.Params.githubUrl}}" class="has-text-white">GitHub Repo</a></li>
                    </ul>
                </div>                
                <div class="column follow-qgis">
                    <ul class="block-list is-small is-outlined is-success is-centered ">
                        <li class="is-size-5">Follow QGIS</li>
                        <li>
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </span>
                                <span>Facebook</span>
                            </span>
                        </li>
                        <li>
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-brands fa-twitter"></i>
                                </span>
                                <span>Twitter</span>
                            </span>
                        </li>
                        <li>
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-brands fa-youtube"></i>
                                </span>
                                <span>YouTube</span>
                            </span>
                        </li>
                        <li>
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-brands fa-instagram"></i>
                                </span>
                                <span>Instagram</span>
                            </span>
                        </li>
                        <li>
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-brands fa-github"></i>
                                </span>
                                <span>GitHub</span>
                            </span>
                        </li>
                        <li>
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-sharp fa-solid fa-envelope"></i>
                                </span>
                                <span>Mailing Lists</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>