<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="columns is-gapless is-multiline">
            {{ range where .Site.RegularPages "Section" "home" }}
            <div class="column is-fullwidth-mobile 
            is-one-third-tablet is-one-third-desktop 
            is-one-quarter-widescreen is-one-quarter-fullhd">
                <div class=" card" style="background-color: {{ .Params.colour }}">
                    <div class="card-image equal-height">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="column is-fullwidth-mobile is-two-thirds-tablet 
        is-two-thirds-desktop is-three-quarters-widescreen is-three-quarters-fullhd">
                <div class="card equal-height" style="background-color: {{ .Params.colour }}">
                    <div class="card-content">
                        <p class="title">
                            {{ .Title }}
                        </p>
                        <p class="subtitle">
                            {{ .Params.Subtitle }}
                        </p>
                        <p>{{ .Content }}</p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>
                                View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
                            </span>
                        </p>
                        <p class="card-footer-item">
                            <span>
                                Share on <a href="#">Facebook</a>
                            </span>
                        </p>
                    </footer>
                </div>
            </div>
            <div class="column is-12">
                <div class="card">
                    <div class="card-content">
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    <div class="column is-1"></div>
</div>