{{ $fontSize := .Site.Params.menuFontClass }}
{{ $currentPage := . }}
{{ $pageUrl:= $currentPage.RelPermalink }}
<section>
    <nav class="is-highest navbar is-fixed-top is-semi-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ absURL "/" }}">
                <img alt="Logo" src="{{ absURL "img/qgis-logo.png" }}" width="85" height="28">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="menu" class="navbar-menu">
            <div class="navbar-end">
                {{ range sort .Site.Menus.main "Weight"}}
                    {{ $menuItemUrl := .URL }}
                    {{ if .HasChildren }}
                <div class="navbar-item has-dropdown is-hoverable{{ if eq $menuItemUrl $pageUrl }} is-active{{ end }}">
                    <a class="navbar-link {{ $fontSize }}">
                        {{ .Pre }}<span>{{ .Name }}</span>
                    </a>
                    <div class="navbar-dropdown">
                        {{ range sort .Children "Weight"}}
                        <a class="navbar-item {{ $fontSize }}{{ if eq $menuItemUrl $pageUrl }} is-active{{ end }}" href="{{ .URL }}">
                            {{ .Pre }}<span>{{ .Name }}</span>
                        </a>
                        {{ end }}    
                    </div>
                </div>
                    {{ else }}
                    <a class="navbar-item {{ $fontSize }}{{ if eq $menuItemUrl $pageUrl }} is-active{{ end }}" href="{{ .URL }}">
                        {{ .Pre }}<span>{{ .Name }}</span>
                    </a>                
                    {{ end }}
                {{ end }}

                <div class="navbar-item">
                    <div id="search-control" class="control has-icons-right is-hidden search-control">
                        <form action="{{ "search/" | absURL }}" method="GET">
                            <input class="input is-small" type="search" id="search-query" name="q" placeholder="Search">
                            <span class="icon is-right">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                        </form>
                    </div>
                    <i class="fa-solid fa-magnifying-glass search-icon is-clickable"></i>
                </div>
                <div class="navbar-item">
                    <div class="buttons is-medium">
                        <a class="button is-primary {{ $fontSize }}" href="{{ "funding/" | absURL }}">
                            <strong>Fund Us!</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>