<div class="column is-fullwidth-mobile 
is-one-third-tablet is-one-quarter-desktop 
is-one-quarter-widescreen is-one-quarter-fullhd">
    <div class="card">
        <div class="card-image equal-height">
            <figure class="image is-4by3">
                <img src="{{ .Get "image" }}" alt="">
            </figure>
        </div>
    </div>
</div>
<div class="column is-fullwidth-mobile is-two-thirds-tablet 
is-three-quarters-desktop is-three-quarters-widescreen is-three-quarters-fullhd">
    <div class="card equal-height" style="background: {{ .Get "bg_color" }}">
        <div class="card-content">
            <p class="title ml-4" style="color: {{ .Get "text_color" }}">
                {{ .Get "title" }}
            </p>
            <p class="subtitle ml-4" style="color: {{ .Get "text_color" }}">
                {{ .Get "subtitle" }}
            </p>
            <div class="pulldown-content is-hidden">
                <div class="content">
                    {{ .Inner | markdownify }}
                </div>
            </div>
        </div>

        <footer class="card-footer">
            <p class="card-footer-item">
                <span>
                    View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
                </span>
            </p>
            <p class="card-footer-item">
                <span>
                    <a class="card-header-icon card-toggle">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </span>
            </p>
        </footer>
        <div class="card-content is-hidden">
            <div class="content">
                Extended content goes here <small>Small text</small>
            </div>
        </div>
    </div>
</div>
<div class="column is-12">
    <div class="card">
        <div class="card-content">
        </div>
    </div>
</div>