{{ $backgroundColor := .Get "background-color" | default "#ff0000"}}
{{ $innerMarkup := .Inner | default "" | markdownify }}
{{ $linkText := .Get "link-text" | default "" }}
{{ $link := .Get "link" | default "" }}
{{ $textColor := .Get "text-color" | default "black" }}
{{ $image := .Get "image" | default "" }}
{{ $title := .Get "title" | default "" }}
{{ $subtitle := .Get "subtitle" | default "" }}
{{ $markdownStyle := .Get "markdown-style" | default "light" }}
{{ $hasLink := or $link $linkText }}
{{/* printf "hasLink: %s" $hasLink */}}
{{ $hasLink := gt ( len $hasLink ) 0 }}
{{/* printf "hasLink: %s" $hasLink */}}
{{ $hasInner := ne $innerMarkup "" }}
{{/* printf "hasInner: %s" $hasInner */}}
{{ $showFooter := or $hasLink $hasInner }}
{{/*  printf "Show footer: %s" $showFooter */}}
{{/*
   container centers content horizontally 
   pb-4 adds some padding below the container 
*/}}
<section class="container pb-4 pl-0 pr-0 is-fluid animation-element animate-from-left">
    <div class="tile is-ancestor">
        <div class="tile is-vertical">
            <div class="tile is-parent is-horizontal">
                <article class="tile is-child">
                    <figure class="image is-1by1">
                        <img class="has-ratio" width="120" height="120" src="{{ absURL $image }}" alt="">
                    </figure>
                </article>
                <article class="tile is-child is-8 notification is-primary">
                    <p class="title">
                        {{ $title }}</p>
                    <p class="subtitle">
                        {{ $subtitle }}</p>
                </article>
            </div>
            {{ if $showFooter }}
            <div class="tile is-vertical is-parent">
                <div class="tile is-child">
                    <div class="card is-full-width notification is-primary">
                        <div class="card-content is-hidden">
                            <article class="content {{ $markdownStyle }}">
                                {{ $innerMarkup }}
                            </article>
                        </div>
                        <footer class="card-footer">
                            {{ if len .Inner }}
                                <article class="card-footer-item pulldown-content">
                                    <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </article>
                            {{ end }}
                            {{ if isset .Params "link" }}
                                <article class="card-footer-item">
                                    <a href="{{ $link }}">
                                        {{ $linkText }}
                                    </a>
                                </article>
                            {{ end }}
                        </footer>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>