{{ $innerMarkup := .Inner | default "" | markdownify }}
{{ $linkText := .Get "link-text" | default "" }}
{{ $link := .Get "link" | default "" }}
{{ $class := .Get "class" | default "is-primary" }}
{{ $image := .Get "image" | default "" }}
{{/* printf "Image: %s" $image */}}
{{ $imageResource := .Page.Resources.GetMatch $image }}
{{/* printf "Image Resource : %s" $imageResource.Name */}}
{{ $imageResized := $imageResource.Resize "120x120" | resources.Copy (printf "resized-%s" $imageResource.Name) }}
{{/* printf "Resized Image Resource : %s" $imageResized */}}

{{ $title := .Get "title" | default "" }}
{{ $subtitle := .Get "subtitle" | default "" }}
{{ $animate := .Get "animate" | default "false" }}
{{ $markdownStyle := .Get "markdown-style" | default "light" }}
{{ $hasLink := or $link $linkText }}
{{/* printf "hasLink: %s" $hasLink */}}
{{ $hasLink := gt ( len $hasLink ) 0 }}
{{/* printf "hasLink: %s" $hasLink */}}
{{ $hasInner := ne $innerMarkup "" }}
{{/* printf "hasInner: %s" $hasInner */}}
{{ $showFooter := or $hasLink $hasInner }}
{{/*  printf "Show footer: %s" $showFooter */}}
{{ $animationClasses := "" }}
{{ if $animate := eq $animate "true" }}
{{ $animationClasses := "animation-element animate-from-left" }}
{{ end}}

{{/*
   container centers content horizontally 
   pb-4 adds some padding below the container 
*/}}
<section class="container py-6 is-fluid {{ $animationClasses }} notification {{ $class }}">
    <div class="tile is-gapless is-ancestor">
        <div class="tile is-parent is-vertical">
            <article class="tile is-child notification {{ $class }}">
                <p class="title">
                    {{ $title }}</p>
                <p class="subtitle">
                    {{ $subtitle }}</p>
            </article>
            {{ if $showFooter }}
            <div class="tile is-vertical is-parent px-6">
                <div class="tile is-child">
                    <article class="content {{ $markdownStyle }}">
                        {{ $innerMarkup }}
                    </article>
                    <article class="level is-mobile">
                        {{ if isset .Params "link" }}
                            <article class="level-left">
                                <a href="{{ $link }}">
                                    {{ $linkText }}
                                </a>
                            </article>
                        {{ end }}
                        {{ if len .Inner }}
                            <article class="level-right pulldown-content">
                                Read more ...
                                <span class="icon">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </article>
                        {{ end }}
                    </article>
                </div>
            </div>
            {{ end }}
        </div>
        <div class="tile is-parent is-2">
            <article class="tile is-child">
                <figure class="image">
                    <img class="" 
                         src="{{ $imageResized.RelPermalink }}" alt="">
                </figure>
            </article>
        </div>        
    </div>
</section>