{{ $classes := .Get "classes" | default ""}}
{{ $header := .Get "header" | default ""}}
<section class="section container pb-4 pl-0 pr-0 animation-element animate-from-left">
    <div class="tile is-ancestor">
        <div class="tile is-vertical">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                    <p class="title has-text-centered">
                        {{ $header }}</p>
                </article>
                <article class="tile is-child notification is-primary">





