{{ $animationClasses := "" }}
{{ $animate := .Get "animate" | default "false" }}
{{ if eq $animate "true" }}
{{ $animationClasses := "animation-element animate-from-left" }}
{{ end}}
<section class="section {{ $animationClasses }}">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                {{- range (seq 0 (sub (len .Params) 1) ) }}
                <div class="tile is-child"></div>
                <div class="tile is-child">
                    {{- $myArg := $.Get . }}
                    {{ $myArgs := split $myArg ":" }}
                    <figure class="image is-1by1">
                        <img width="64" height="64" class="has-ratio is-rounded"
                        src="{{ index $myArgs 1 }}">
                    </figure>                   
                    <article class="article subtitle pt-2 has-text-centered">
                        {{ index $myArgs 0 }}
                    </article>
                </div>
                <div class="tile is-child"></div>
                {{ end }}        
            </div>
        </div>
    </div>
</section>

