{{ $animationClasses := "" }}
{{ $animate := .Get "animate" | default "false" }}
{{ if eq $animate "true" }}
{{ $animationClasses := "animation-element animate-from-left" }}
{{ end}}
{{ $uniqueId := substr (md5 (printf "%s" .Params)) 0 16 }}

<section id="{{ $uniqueId }}" class="section {{ $animationClasses }}">
    <div class="container notification is-primary">
        <nav class="level is-fullwidth">
            {{- range (seq 0 (sub (len .Params) 1) ) }}
            <div class="level-item has-text-centered">
                <div>
                    {{- $myArg := $.Get . }}
                    {{ $myArgs := split $myArg ":" }}
                    <p class="title">{{ index $myArgs 0 }}</p>
                    <p class="heading">
                        {{ index $myArgs 1 }}
                    </p>
                </div>
            </div>
            {{ end }}        
        </nav>
    </div>
</section>
