{{ $animationClasses := "" }}
{{ $animate := .Get "animate" | default "false" }}
{{ if eq $animate "true" }}
{{ $animationClasses := "animation-element animate-from-left" }}
{{ end}}
<section class="section {{ $animationClasses }}">
    <div class="container notification is-primary">
        <div class="columns">
            <div class="column is-5 is-offset-1">
                <div class="card is-shady">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ .Get 0 }}">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="column is-5 ">
                <div class="card-content is-shady">
                    <div class="content">
                        <h4>{{ .Get 1 }}</h4>
                        {{ .Get 2 }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>