{{ $animationClasses := "" }}
{{ $animate := .Get "animate" | default "false" }}
{{ if eq $animate "true" }}
{{ $animationClasses := "animation-element animate-from-left" }}
{{ end}}
<section class="section {{ $animationClasses }}">
    <div class="container notification is-primary">
        <nav class="level is-fullwidth">
            {{- range (seq 0 (sub (len .Params) 1) ) }}
            <div class="level-item has-text-centered">
                <div>
                    {{- $myArg := $.Get . }}
                    {{ $myArgs := split $myArg ":" }}
                    <span class="fa-stack fa-2x">
                        <i class="fa-regular fa-circle fa-stack-2x"></i>
                        <i class="fa-solid {{ index $myArgs 1 }}"></i>
                    </span>
                    <p class="heading pt-4">{{ index $myArgs 0 }}</p>
                </div>
            </div>
            {{ end }}        
        </nav>
    </div>
</section>
