{{ $url := .Get 0 | default "https://"}}
<div class="tile is-ancestor">
    <div class="tile notification is-outlined is-info">
        <div class="tile is-parent is-vertical">
            <article class="tile is-child has-text-centered">
                <a href="{{ $url }}">
                    <canvas class="qr-code" data-url="{{ $url }}" width="410" height="410"></canvas>
                </a>
            </article>
            <article class="tile is-child has-text-centered">
                <a href="{{ $url }}">
                    <a class="card-footer-item button is-primary" href="{{ $url }}">Download</a>
                </a>
            </article>                      
        </div>
    </div>
</div>      


