{{ $url := .Get 0 | default "https://"}}
<section class="section">
    <div class="container notification is-gray">
        <nav class="columns is-multiline">
            <div class="column is-12 has-text-centered">
                <a href="{{ $url }}">
                    <canvas class="qr-code" data-url="{{ $url }}" width="410" height="410"></canvas>
                </a>
            </div>
            <div class="column is-12 has-text-centered">
                <a href="{{ $url }}">
                    <a class="card-footer-item button is-info" href="{{ $url }}">Download</a>
                </a>
            </div>                      
        </div>
    </div>
</div>      


