{{- /* Check if the section should be included and start a new section if true */ -}}
{{ $isSection := .Get "isSection" | default true }}

{{- /* Get classes, section classes, subtitle, and inner content with their respective default values */ -}}
{{ $classes := .Get "classes" | default "" }}
{{ $sectionClasses := .Get "sectionClasses" | default "" }}
{{ $subtitle := .Get "subtitle" | default "" }}
{{ $innerContent := .Inner | safeHTML }}
{{ $innerParts := split $innerContent "----" }}

{{- /* Get other configurations with their respective default values */ -}}
{{ $backgroundColor := .Get "backgroundColor" | default "dark" }}
{{ $textColor := .Get "textColor" | default "white" }}
{{ $subtitleColor := .Get "subtitleColor" | default "complementary7" }}
{{ $showBottomBar := .Get "showBottomBar" | default false }}
{{ $backgroundImage := .Get "backgroundImage" | default "" }}

{{- /* If sectioning is enabled, create the section container */ -}}
{{- if $isSection }}
<section class="section has-background-{{ $backgroundColor }} {{ $sectionClasses }}" style="padding-left: 9vw; padding-right: 9vw">
{{- end }}

    {{- /* Create content div with proper styling */ -}}
    <div
            class="content mkdown columns container has-text-{{ $textColor }} has-background-{{ $backgroundColor }} {{$classes}}
        {{- if $showBottomBar }}
            bottom-bar
        {{- end }}
    "
            {{ if ne $backgroundImage "" }}
    style="background: url('{{ absURL $backgroundImage | safeCSS }}');
    background-position: center;
    background-size: cover;"
    {{ end }}
    >
    <div class="column">
        {{- /* Add subtitle with specific color and styling */ -}}
        <div class="is-size-7 has-text-weight-bold has-text-{{ $subtitleColor }}" style="margin-bottom: -30px">{{ $subtitle }}</div>

        {{- /* Render the first part of the inner content using Markdown */ -}}
        {{ index $innerParts 0 | markdownify }}
    </div>

    {{- /* If there are at least two inner parts, render the second one in a new column */ -}}
    {{- if ge (len $innerParts) 2 }}
    <div class="column ">
        {{ index $innerParts 1 | markdownify }}
    </div>
    {{- end }}
    </div>

    {{- /* If there are at least three inner parts, render the third one in a new content div */ -}}
    {{- if ge (len $innerParts) 3 }}
    <div class="content">
        {{ index $innerParts 2 | safeHTML }}
    </div>
    {{- end }}

{{- /* Close the section container if sectioning is enabled */ -}}
{{- if $isSection }}
</section>
{{- end }}
