{{ $classes := "" }}
{{ $classFromParam := .Get "class" }}
{{ $classesFromParam := .Get "classes" }}
{{ if $classFromParam }}
    {{ $classes = $classFromParam }}
{{ else if $classesFromParam }}
    {{ $classes = $classesFromParam }}
{{ else }}
    {{ $classes = "container content notification is-light" }}
{{ end }}
{{ $ribbon := .Get "ribbon" | default "" }}
{{ $backgroundImage := .Get "backgroundImage" | default "" }}
{{ $ribbonClass := .Get "ribbon-class" | default "is-info is-small" }}
            <div {{ if ne $ribbon "" }}class="has-ribbon-left pt-1"{{ end }}>
                {{ if ne $ribbon "" }}
                <div class="ribbon {{ $ribbonClass }}">
                    {{ $ribbon }}
                </div>
                {{ end}}
                <div class="box {{ $classes }}" {{ if ne $backgroundImage "" }}
                    style="background: url('{{ absURL $backgroundImage | safeCSS }}');
                    background-position: center;
                    background-size: cover;"
                    {{ end }}>
                    {{/* Padding in case ribbon is there */}}




