{{ $classes := .Get "classes" | default "content" }}
{{ $header := .Get "header" | default "" }}
{{ $animationClasses := "" }}
{{ $animate := .Get "animate" | default "false" }}
{{ if eq $animate "true" }}
{{ $animationClasses := "animation-element animate-from-left" }}
{{ end }}
{{ $sidebar := .Get "sidebar" | default false }}


<section class="section {{ $animationClasses }} pt-3">
    <div class="container {{ $classes }}">
        {{ if eq .Page.Params.sidebar true}}
        <div class="columns is-multiline is-centered">
        {{ partial "sidebar" . }}
        <div class="content column is-9"> 
        {{ end }}

        <div class="is-flex is-align-items-center is-justify-content-space-between mt-3 mb-3">
            <div>
                
            </div>
            {{ if .Page.File }}
                <a
                    class="button is-primary3 is-outlined"
                    href="{{ $.Site.Params.githubRepo }}/edit/{{ $.Site.Params.githubBranch }}/{{ $.Site.Params.githubSubdir }}/{{ .Page.File.Path }}"
                    target="_blank"
                    rel="noopener"
                >
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                    <span>Edit on GitHub</span>
                </a>
            {{ end }}
        </div>
        
        

