{{ $data := 0 }}
{{ with .Get "file" }}
    {{ $resource := resources.Get . }}
    {{ if $resource }}
        {{ $data = $resource.Content | transform.Unmarshal }}
    {{ else }}
        <p>Error: Could not load resource {{ . }}</p>
    {{ end }}
{{ else }}
    {{ $data = .Inner | unmarshal }}
{{ end }}
{{ if $data }}
<div class="schedule-container">
    <table class="roadmap">
        <thead>
            <tr>
                {{ range index $data 0 }}
                    <th>{{ . }}</th>
                {{ end }}
            </tr>
        </thead>
        <tbody>
            {{ range after 1 $data }}
                <tr>
                {{ range . }}
                    {{ $class := index (findRE ":rm-\\w+:" .) 0 }}
                    <td class="{{ trim $class ":" }}">
                        {{ . | replaceRE ":rm-\\w+:" "" }}
                    </td>
                {{ end }}
                </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ else }}
    <p>Error: No data available</p>
{{ end }}
