{{ $data := 0 }}
{{ $path := .Get "file" }}
{{ with resources.Get $path }}
    {{ if . }}
        {{ with . | transform.Unmarshal }}
            {{ $data = . }}
        {{ else }}
            {{ printf "Error unmarshalling data from: %s" $path }}
        {{ end }}
    {{ else }}
        {{ printf "Error: Resource not found at %s" $path }}
    {{ end }}
{{ else }}
    {{ $data = .Inner | unmarshal }}
{{ end }}

{{ if $data }}
<div class="schedule-container">
    <table class="roadmap">
        <thead>
            <tr>
                {{ range index $data 0 }}
                    <th>{{ . }}</th>
                {{ end }}
            </tr>
        </thead>
        <tbody>
            {{ range after 1 $data }}
                <tr>
                {{ range . }}
                    {{ $class := index (findRE ":rm-\\w+:" .) 0 }}
                    <td class="{{ trim $class ":" }}">
                        {{ . | replaceRE ":rm-\\w+:" "" }}
                    </td>
                {{ end }}
                </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ else }}
    <p>Error: No data available</p>
{{ end }}
