{{ with index .Site.Data.conf }}
<div class="download-platform-selector" id="download-section" style="display: none;">
    <div class="container">
        
        <h1>Download QGIS for your platform</h1>
        <p>
            The current version is QGIS {{ .release }} '{{ .codename }}' and was
            released on {{ .releasedate }}.
        </p>
        <p>
            The long-term builds currently provide
            {{ .ltrrelease }}
            '{{ .ltrcodename }}'. Long Term Release (LTR) builds are intended
            for those who value stability over having the latest features. If
            you are unsure which version is best for you, download the LTR.
        </p>
        <p>QGIS is available on Windows, macOS, Linux, Android and iOS.</p>
        {{ if eq .infeaturefreeze true }}
            <p>
                We are currently in feature freeze preceeding the release of
                QGIS {{ .nextversion }}.
                <strong>Please consider testing the prereleases</strong>. See
                <a href="{{ absURL "resources/roadmap#qgis-prereleases" }}"
                    >road map</a
                >.
            </p>
        {{ end }}

        <div class="platform-contents">
{{ end }}
