</div>

<script>
function hidePrompt() {
    document.getElementById('donate-prompt').remove();
    document.getElementById('hide-donate-prompt').remove();
    // uncomment next line to show donate-prompt only for the first time
    // localStorage.setItem('donatePromptClosed', true);
    document.getElementById('download-section').style.display = 'block';
    window.scrollTo(0, 0);
}

function detectOS() {
    const userAgent = navigator.userAgent.toLowerCase();

    if (/Mobile|iP(hone|od|ad)|Android|BlackBerry|IEMobile|Kindle|NetFront|Silk-Accelerated|(hpw|web)OS|Fennec|Minimo|Opera M(obi|ini)|Blazer|Dolfin|Dolphin|Skyfire|Zune/i.test(userAgent)) {
        return 'download-mobile';
    } else if (userAgent.includes('mac')) {
        return 'download-mac';
    } else if (userAgent.includes('linux')) {
        return 'download-linux';
    }
    return 'download-win';
}

// uncomment next lines to show donate-prompt only for the first time
// if (localStorage.getItem('donatePromptClosed') === 'true') {
//     document.getElementById('download-section').style.display = 'block';
//     document.getElementById('donate-prompt').remove();
//     document.getElementById('hide-donate-prompt').remove();
// }

const userOS = detectOS();
document.getElementById('primary-os').appendChild(
    document.getElementById(userOS).querySelector('.content'));
document.getElementById(userOS).remove();

function thanks(element) {
    event.preventDefault();
    window.open(element.href);
    // Redirect to thank you page after a short delay
    setTimeout(function() {
        window.location.href += 'thank-you';
    }, 500);
}
</script>
