<div id="download-section" style="display: none">
    {{ with index .Site.Data.conf }}
        <h1>{{ i18n "downloadQGISForYourPlatform" }}</h1>
        <p>
            {{ printf (i18n "currentVersion") .release .codename .releasedate }}
        </p>
        <p>
            {{ printf (i18n "longTermBuilds") .ltrrelease .ltrcodename }}
        </p>
        <p>{{ i18n "availablePlatforms" }}</p>
        {{ if eq .infeaturefreeze true }}
            <p>
                {{ printf (i18n "featureFreeze") .nextversion }}
            </p>
        {{ end }}
    {{ end }}
    <div id="primary-os"></div>

    <h2>{{ i18n "otherPlatforms" }}</h2>
