<section class="section">
  <div class="container pb-6">
    <div class="pricing-table is-comparative">
      <div class="pricing-plan is-features">
        <div class="plan-header">Features<br> <br> <br></div>
        <div class="plan-price"><span class="plan-price-amount">&nbsp;</span></div>
        <div class="plan-items">
          <div class="plan-item">Vector Editing</div>
          <div class="plan-item">Vector and Raster formats</div>
          <div class="plan-item">Spatial Analysis</div>
          <div class="plan-item">Advanced Cartography</div>
          <div class="plan-item">Publication Quality Map Production</div>
          <div class="plan-item">Support from our Volunteer Community</div>
          <div class="plan-item">Financially Supports Us</div>
          <div class="plan-item">Helps to ensure our Long Term Sustainability</div>
        </div>
        <div class="plan-footer">
        </div>
      </div>
      <div class="pricing-plan is-success">
        <div class="plan-header">Prefer Free<br> <br> <br></div>
        <div class="plan-price"><span class="plan-price-amount"><span
              class="plan-price-currency"></span>FREE</span>/forever</div>
        <div class="plan-items">
          <div class="plan-item has-text-success" data-feature="editing"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="file-formats"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="analysis"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="cartography"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="map-production"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="community-support"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-danger" data-feature="supports-us"><i class="fa-solid fa-circle-xmark"></i></div>
          <div class="plan-item has-text-danger" data-feature="supports-sustainability"><i class="fa-solid fa-circle-xmark"></i></div>

        </div>
        <div class="plan-footer">
          <a href="{{ absURL "download/os-selection/" }}" class="button is-fullwidth is-small">Download Directly</a>
        </div>
      </div>

      <div class="pricing-plan is-success">
        <div class="plan-header">Startups<br>&<br>Small Businesses</div>
        <div class="plan-price"><span class="plan-price-amount"><span
              class="plan-price-currency">€</span>10</span>/download</div>
        <div class="plan-items">
          <div class="plan-item has-text-success" data-feature="editing"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="file-formats"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="analysis"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="cartography"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="map-production"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="community-support"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="supports-us"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-danger" data-feature="supports-sustainability"><i class="fa-solid fa-circle-xmark"></i></div>
        </div>
        <div class="plan-footer">
          <button class="button is-fullwidth is-small">Donate & Download</button>
        </div>
      </div>

      <div class="pricing-plan is-active is-danger">
        <div class="plan-header">Growing<br><br>Teams</div>
        <div class="plan-price"><span class="plan-price-amount"><span
              class="plan-price-currency">€</span>500</span>/year</div>
        <div class="plan-items">
          <div class="plan-item has-text-success" data-feature="editing"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="file-formats"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="analysis"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="cartography"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="map-production"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="community-support"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="supports-us"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="supports-sustainability"><i class="fa-solid fa-circle-check"></i></div>

        </div>
        <div class="plan-footer">
          <button class="button is-fullwidth is-small">Subscribe & Download</button>
        </div>
      </div>

      <div class="pricing-plan is-success">
        <div class="plan-header">Governments<br>&<br>Enterprises</div>
        <div class="plan-price"><span class="plan-price-amount"><span
              class="plan-price-currency">€</span>3000</span>/year</div>
        <div class="plan-items">
          <div class="plan-item has-text-success" data-feature="editing"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="file-formats"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="analysis"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="cartography"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="map-production"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="map-production"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="supports-us"><i class="fa-solid fa-circle-check"></i></div>
          <div class="plan-item has-text-success" data-feature="supports-sustainability"><i class="fa-solid fa-circle-check"></i></div>

        </div>
        <div class="plan-footer">
          <button class="button is-fullwidth is-small">Subscribe & Download</button>
        </div>
      </div>
    </div>
  </div>
</div>