<div id="download-section" style="display: none">
    {{ with index .Site.Data.conf }}
    <h1>Download QGIS for your platform</h1>
    <p>This page provides binary packages (installers).</p>
    <p>The current version is QGIS {{ .release }} '{{ .codename }}' and was released on {{ .releasedate }}.</p>
    <p>The long-term builds currently offer QGIS {{ .ltrrelease }} '{{ .ltrcodename }}'.</p>
    <p>QGIS is available on Windows, macOS, Linux, Android and iOS.</p>
    {{ if eq .infeaturefreeze true }}
        <p>We are currently in feature freeze preceeding the release of QGIS {{ .nextversion }}. 
        <strong>Please consider testing the prereleases</strong>.
        See <a href="{{ absURL "resources/roadmap#location-of-prereleases-nightly-builds" }}">road map</a>.</p>
    {{ end }}
    {{ end }}
    <div id="primary-os"></div>

    <h2>Other platforms</h2>
