<div class="content">
    <p class="is-size-6">
        GNU/Linux is a Free operating system built on the same principles that QGIS is built on. 
        We provide installers for many flavors of GNU/Linux binary packages (including rpm and deb packages).
    </p>
    <p class="is-size-6">
        Choose your preferred Linux distribution below for installation instructions:
    </p>
</div>

<div class="distro-list">
    <a href="{{ absURL "resources/installation-guide#debian--ubuntu" }}" class="distro-link">
        Debian/Ubuntu
    </a>
    <a href="{{ absURL "resources/installation-guide#fedora" }}" class="distro-link">
        Fedora
    </a>
    <a href="{{ absURL "resources/installation-guide#nixos" }}" class="distro-link">
        NixOS
    </a>
    <a href="{{ absURL "resources/installation-guide#suse--opensuse" }}" class="distro-link">
        openSUSE
    </a>
    <a href="{{ absURL "resources/installation-guide#mandriva" }}" class="distro-link">
        Mandriva
    </a>
    <a href="{{ absURL "resources/installation-guide#slackware" }}" class="distro-link">
        Slackware
    </a>
    <a href="{{ absURL "resources/installation-guide#arch-linux" }}" class="distro-link">
        Arch Linux
    </a>
    <a href="{{ absURL "resources/installation-guide#flatpak" }}" class="distro-link">
        Flatpak
    </a>
    <a href="{{ absURL "resources/installation-guide#spack" }}" class="distro-link">
        Spack
    </a>
</div>
