<div class="container">
    <div class="feature left-deco-{{ .Get "order" }}">
        <div class="columns is-vcentered main-cols">
            <div class="column is-5 main-text">
                <h2 class="deco-arrow">
                    {{ .Get "title" }}
                </h2>
                <p class="is-size-5 has-text-weight-light">
                    {{ .Get "text" }}
                </p>
            </div>
            <div class="column is-7 main-image">
                <figure class="deco-block-{{ .Get "order" }}">
                    <img src={{ .Get "img" | absURL }} />
                </figure>
            </div>
        </div>
        <div class="columns add-text alpha70">
            <div class="column">
                <p class="has-text-weight-bold">
                    {{ .Get "col-title-1" }}
                </p>
                <p class="has-text-weight-light col-text">
                    {{ .Get "col-text-1" }}
                </p>
            </div>
            <div class="column">
                <p class="has-text-weight-bold">
                    {{ .Get "col-title-2" }}
                </p>
                <p class="has-text-weight-light col-text">
                    {{ .Get "col-text-2" }}
                </p>
            </div>
            <div class="column">
                <p class="has-text-weight-bold">
                    {{ .Get "col-title-3" }}
                </p>
                <p class="has-text-weight-light col-text">
                    {{ .Get "col-text-3" }}
                </p>
            </div>
            <div class="column empty">
                <p>
                </p>
            </div>
        </div>
    </div>
</div>
