<div class="feature">
    <div class="container is-flex">
        <div class="columns is-vcentered">
            <div class="column is-5">
                <h2 class="title has-text-weight-bold deco-arrow">Create map</h2>
                <p class="is-size-4 has-text-weight-light">Unleash your creativity and experience first class cartographic design capabilities and design great maps. For desktop, mobile, cloud, and print.</p>
            </div>
            <div class="column is-7 ">
                <figure> <img src="/img/main-create.png" class="deco-block-1" > </figure>
            </div>
        </div>
    </div>
    <div class="container is-flex add-text">
        <div class="columns">
            <div class="column">
                <p class="is-size-5 has-text-weight-bold">Class-leading cartography</p>
                <p class="is-size-5 has-text-weight-light">Experience QGIS' extensive set of design options to bring your cartographic ideas to life.</p>
            </div>
             <div class="column">
                <p class="is-size-5 has-text-weight-bold">Professional map production</p>
                <p class="is-size-5 has-text-weight-light">Use the intuitive layout designer to produce high-quality, large-format print maps.</p>
            </div>
            <div class="column">
                <p class="is-size-5 has-text-weight-bold">Powerful reporting tools</p>
                <p class="is-size-5 has-text-weight-light">Create atlasses and reports with maps and tabular content.</p>
            </div>
        </div>
    </div>
</div>