<div class="feature left-deco-{{ .Get "order" }}">
    <div class="container is-flex">
        <div class="columns is-vcentered">
            <div class="column is-5">
                <h2 class="title has-text-weight-bold deco-arrow">
                    {{ .Get "title" }}
                </h2>
                <p class="is-size-4 has-text-weight-light">
                    {{ .Get "text" }}
                </p>
            </div>
            <div class="column is-7 ">
                <figure class="deco-block-{{ .Get "order" }}">
                    <img src={{ .Get "img" }} />
                </figure>
            </div>
        </div>
    </div>
    <div class="container is-flex add-text">
        <div class="columns">
            <div class="column">
                <p class="is-size-5 has-text-weight-bold">
                    {{ .Get "col-title-1" }}
                </p>
                <p class="is-size-5 has-text-weight-light">
                    {{ .Get "col-text-1" }}
                </p>
            </div>
            <div class="column">
                <p class="is-size-5 has-text-weight-bold">
                    {{ .Get "col-title-2" }}
                </p>
                <p class="is-size-5 has-text-weight-light">
                    {{ .Get "col-text-2" }}
                </p>
            </div>
            <div class="column">
                <p class="is-size-5 has-text-weight-bold">
                    {{ .Get "col-title-3" }}
                </p>
                <p class="is-size-5 has-text-weight-light">
                    {{ .Get "col-text-3" }}
                </p>
            </div>
            <div class="column">
                <p>
                </p>
            </div>
        </div>
    </div>
</div>
