{{ $showcaseType := .Get "showcase" | default "" }}
{{ $quantity := .Get "quantity" | default "100" }}

        <div class="columns is-multiline gallery">
            {{ $.Scratch.Set "counter" 0 }}
            {{ $headlessbundle := .Site.GetPage "/flickr-images" }}
            {{ range ( $headlessbundle.Resources.ByType "page" )  }}
            {{ if eq .Params.source "flickr" }}
                {{ if eq .Params.showcase $showcaseType }}
                {{ $count := add ($.Scratch.Get "counter") 1 }}
                {{ $.Scratch.Set "counter" $count }}
                {{ $size :=cond (ne $count 1 2 6 7) "4" "6" }}
                {{ if le $count $quantity }}
                <div class="column is-{{$size}} is-flex">{{/* is flex ensures cols have the same height */}}
                    <div class="imagetile">
                        <figure>
                            <a href="{{ .Params.link }}">
                                    <img src="{{ .Site.BaseURL }}flickr-images/{{ .Params.image }}" alt="{{ .Params.title }}">
                            </a>
                        </figure>
                    </div>
                </div>
                {{ end }}
            {{ end }}
            {{ end }}
            {{ end }}
        </div>