{{ $allFunders := slice }}
{{ $logoPath := 0 }}

{{ $type := .Get "type"  }}

{{ if eq $type "changelog" }}
	{{ $allFunders = .Page.Resources.Match "funders/*md" }}
    {{ $logoPath = absURL "img/contributors/" }}
{{ else }}
	{{ $headlessbundle := .Site.GetPage "/funders" }}
	{{ $allFunders = ( $headlessbundle.Resources.ByType "page" ) }}
    {{ $logoPath = absURL "funders/" }}
{{ end }}

{{ with .Get "relativeImgPath" }}
    {{ $logoPath = "" }}
{{ end }}

{{ if or (eq $type "active") (eq $type "changelog") }}

    {{ $funders := slice }}
    {{ range where $allFunders "Params.level" "Flagship" }}
        {{ if or (eq $type "changelog") (ge (time .Params.endDate) now) }}
            {{ $funders = $funders | append . }}
        {{ end }}
    {{ end }}

    {{ with $funders }}
        <h3 class="subtitle">
            Flagship
        </h3>
        <div class="tile is-ancestor is-vertical funders">
            <div class="tile">
            {{ $.Scratch.Set "counter" 0 }}
            {{ range . }}
                {{ $count := add ($.Scratch.Get "counter") 1 }}
                {{ $.Scratch.Set "counter" $count }}
                    {{ if eq ( mod $count 3 ) 1 }}
                        {{ if gt $count 1 }}
        <div class="tile">
                        {{ end }}
                    {{ end }}
            <div class="tile is-parent"> 
                <article class="tile is-child box notification fund-flagship">
                    
                    <a href="{{ .Params.link }}">
                        <figure>
                            <img src="{{ $logoPath }}{{ .Params.logo }}" alt="{{ .Params.title }}">
                        </figure>
                        <h3 class="title is-5">{{ .Params.title }}</h3>
                        <article class="subtitle is-7">{{ .Params.country }}</article>
                    </a>
                </article>
            </div>
            {{ end }}
            </div>
        </div>
    {{ end }}

    {{ $funders := slice }}
    {{ range where $allFunders "Params.level" "Large" }}
        {{ if or (eq $type "changelog") (ge (time .Params.endDate) now) }}
            {{ $funders = $funders | append . }}
        {{ end }}
    {{ end }}

    {{ with $funders }}
        <h3 class="subtitle">
            Large
        </h3>
        <div class="tile is-ancestor is-vertical funders">
            <div class="tile">
            {{ $.Scratch.Set "counter" 0 }}
            {{ range . }}
                {{ $count := add ($.Scratch.Get "counter") 1 }}
                {{ $.Scratch.Set "counter" $count }}
                    {{ if eq ( mod $count 3 ) 1 }}
                        {{ if gt $count 1 }}
        </div>
        <div class="tile">
                        {{ end }}
                    {{ end }}
            <div class="tile is-parent"> 
                <article class="tile is-child box notification fund-large">
                    
                    <a href="{{ .Params.link }}">
                        <figure>
                            <img src="{{ $logoPath }}{{ .Params.logo }}" alt="{{ .Params.title }}">
                        </figure>
                        <h3 class="title is-5">{{ .Params.title }}</h3>
                        <article class="subtitle is-7">{{ .Params.country }}</article>
                    </a>
                </article>
            </div>
            {{ end }}
            </div>
        </div>
    {{ end }}

    {{ $funders := slice }}
    {{ range where $allFunders "Params.level" "Medium" }}
        {{ if or (eq $type "changelog") (ge (time .Params.endDate) now) }}
            {{ $funders = $funders | append . }}
        {{ end }}
    {{ end }}

    {{ with $funders }}
        <h3 class="subtitle">
            Medium
        </h3>

        <div class="tile is-ancestor is-vertical funders">
            <div class="tile">
            {{ $.Scratch.Set "counter" 0 }}
            {{ range . }}
                {{ $count := add ($.Scratch.Get "counter") 1 }}
                {{ $.Scratch.Set "counter" $count }}
                    {{ if eq ( mod $count 4 ) 1 }}
                        {{ if gt $count 1 }}
        </div>
        <div class="tile">
                        {{ end }}
                    {{ end }}
            <div class="tile is-parent"> 
                <article class="tile is-child box notification fund-medium">
                    <a href="{{ .Params.link }}">
                        <figure>
                            <img src="{{ $logoPath }}{{ .Params.logo }}" alt="{{ .Params.title }}">
                        </figure>
                        <h3 class="title is-5">{{ .Params.title }}</h3>
                        <article class="subtitle is-7">{{ .Params.country }}</article>
                        
                    </a>
                </article>
            </div>
            {{ end }}
            </div>
        </div>        
    {{ end }}

    {{ $funders := slice }}
    {{ range where $allFunders "Params.level" "Small" }}
        {{ if or (eq $type "changelog") (ge (time .Params.endDate) now) }}
            {{ $funders = $funders | append . }}
        {{ end }}
    {{ end }}

    {{ with $funders }}
        <h3 class="subtitle">
            Small
        </h3>

        <div class="tile is-ancestor is-vertical funders">
            <div class="tile">
            {{ $.Scratch.Set "counter" 0 }}
            {{ range . }}
                {{ $count := add ($.Scratch.Get "counter") 1 }}
                {{ $.Scratch.Set "counter" $count }}
                    {{ if eq ( mod $count 5 ) 1 }}
                        {{ if gt $count 1 }}
        </div>
        <div class="tile">
                        {{ end }}
                    {{ end }}
            <div class="tile is-parent"> 
                <article class="tile is-child box notification fund-small">
                    <a href="{{ .Params.link }}">
                        <figure >
                            <img src="{{ $logoPath }}{{ .Params.logo }}" alt="{{ .Params.title }}">
                        </figure>
                        <h3 class="title is-5">{{ .Params.title }}</h3>
                        <article class="subtitle is-7">{{ .Params.country }}</article>
                        
                    </a>
                </article>
            </div>
            {{ end }}
            </div>
        </div>
    {{ end }}

{{ else }}

<div class="tile is-ancestor is-vertical funders">
    <div class="tile">
    {{ $.Scratch.Set "counter" 0 }}
    {{ range $allFunders }}
        {{ $endDate := time .Params.endDate }}
        {{ if le $endDate now }}
            {{ $count := add ($.Scratch.Get "counter") 1 }}
            {{ $.Scratch.Set "counter" $count }}
                {{ if eq ( mod $count 5 ) 1 }}
                    {{ if gt $count 1 }}
    </div>
    <div class="tile">
                    {{ end }}
                {{ end }}
        <div class="tile is-parent"> 
            <article class="tile is-child box notification fund-small past">
                <a href="{{ .Params.link }}">
                    <figure >
                        <img src="{{ $logoPath }}{{ .Params.logo }}" alt="{{ .Params.title }}">
                    </figure>
                    <h3 class="title is-5">{{ .Params.title }}</h3>
                    <article class="subtitle is-7">{{ .Params.country }}</article>
                    
                </a>
            </article>
        </div>
            {{ end }}
        {{ end }}
    </div>
</div>

{{ end }}
