{{ $showcaseType := .Get "showcase" | default "" }}
{{ $quantity := .Get "quantity" | default "100" }}
{{ $columns := .Get "columns" | default "2" }}


<div class="columns is-multiline gallery">
    {{ $.Scratch.Set "counter" 0 }}
    {{ $headlessbundle := .Site.GetPage "/hub-maps" }}
    {{ $pages := where ( $headlessbundle.Resources.ByType "page" ) "Params.source" "hub" }}
    {{ range sort (where $pages "Params.showcase" $showcaseType) ".Params.date" "asc" }}
        {{ if eq .Params.draft false }}
            {{ $count := add ($.Scratch.Get "counter") 1 }}
            {{ $.Scratch.Set "counter" $count }}
            {{ $size := $columns }}
            {{ if eq $columns "gallery" }}
                {{ $size = cond (ne $count 1 2 6 7) "4" "6" }}
            {{ end }}
            {{ if le $count $quantity }}
                <div
                    class="column is-{{ $size }} is-flex"
                    style="max-height: unset;"
                >
                    {{/* is flex ensures cols have the same height */}}
                    <div class="tile">
                        <a
                            class="rich-list has-image mr-2 mb-2"
                            href="{{ .Params.hub_link }}"
                        >
                            <div class="image">
                                <img
                                    src="{{ .Site.BaseURL }}hub-maps/{{ .Params.image }}"
                                />
                                <div
                                    class="map-info is-flex is-flex-direction-column is-justify-content-space-between is-align-items-flex-end"
                                >
                                    <div>
                                        <button
                                            class="button is-light"
                                            onclick="event.preventDefault(); window.open('{{ .Params.link }}', '_blank');"
                                        >
                                            <span class="icon is-size-4">
                                                <i
                                                    class="fas fa-magnifying-glass-plus"
                                                ></i>
                                            </span>
                                        </button>
                                    </div>
                                    <span class="tag is-light is-success">
                                        Uploaded by
                                        {{ .Params.creator | default "Unknown" }}
                                    </span>
                                </div>
                            </div>
                            <div class="listcont ">
                                <p class="has-text-weight-semibold">
                                    {{ .Params.title | truncate 30 }}
                                </p>
                                <p>
                                    {{ .Params.description | truncate 100 }}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    {{ end }}
</div>
<div class="has-text-centered mt-4">
    <a class="button is-success" href="https://maps.qgis.org">
        <span class="icon">
            <i class="fas fa-arrow-right"></i>
        </span>
        <span>See more</span>
    </a>
</div>
