{{ $animationClasses := "" }}
{{ $animate := .Get "animate" | default "false" }}
{{ if eq $animate "true" }}
{{ $animationClasses := "animation-element animate-from-left" }}
{{ end}}
<section class="section {{ $animationClasses }}" style="margin-top: -75px; background-color: #363636">
    <div class="container is-fluid">
        <div class="tile is-ancestor">
            <div class="tile is-parent"  style="gap: 15px;">
                {{- range (seq 0 (sub (len .Params) 1) ) }}

                <div class="tile is-child">
                    {{- $myArg := $.Get . }}
                    {{/* printf "\n Args: %s" $myArg */}}
                    {{ $myArgs := split $myArg ":" }}
                    {{/* printf "\n Args: %s" $myArgs */}}
                    <figure class="image">
                        <img width="128" height="128" class="has-ratio"
                        src="{{ index $myArgs 2 }}">
                    </figure>
                    <div style="background-color: #395C6B; color: white; height: 100px">
                        <article class="article title is-5 pt-2 has-text-centered" style="color: white">
                            {{ index $myArgs 0 }}
                        </article>
                        <article class="article subtitle is-7 pt-2 has-text-centered" style="color: white">
                            {{ index $myArgs 1 }}
                        </article>
                    </div>
                </div>
                {{ end }}        
            </div>
        </div>
    </div>
</section>

