{{ $animationClasses := "" }}
{{ $animate := .Get "animate" | default "false" }}
{{ if eq $animate "true" }}
{{ $animationClasses := "animation-element animate-from-left" }}
{{ end}}
<section class="section {{ $animationClasses }}">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                {{- range (seq 0 (sub (len .Params) 3) ) }}
                <div class="tile is-child">
                    {{- $myArg := $.Get . }}
                    {{ $myArgs := split $myArg ":" }}
                    <figure class="image">
                        <img src="{{ index $myArgs 1 }}" style="width: max-content">
                    </figure>
                </div>
                {{ end }}
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                {{- range (seq 2 (sub (len .Params) 1) ) }}
                <div class="tile is-child">
                    {{- $myArg := $.Get . }}
                    {{ $myArgs := split $myArg ":" }}
                    <figure class="image">
                        <img style="width: max-content"
                             src="{{ index $myArgs 1 }}">
                    </figure>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

