{{ $selectedLang := .Page.Params.selected_language }}
<div class="language-select-container p-5 mb-5 mt-5">
    <div class="field is-flex is-align-items-center" style="gap: 10px;">
        <label class="mb-0 has-text-weight-medium">Choose your language:</label>
        <div class="control has-icons-left">
            <div class="select">
                <select>
                    {{ range .Site.Menus.lang }}
                    <option value="{{ .URL }}" {{ if eq .URL $selectedLang }}selected{{ end }}>
                        {{ .Name }}
                    </option>
                    {{ end }}
                </select>
            </div>
            <div class="icon is-small is-left">
                <i class="fas fa-globe"></i>
            </div>
        </div>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const selectElement = document.querySelector('.language-select-container .select select');
        const linkTitleWithLang = document.querySelectorAll('.link-with-language .listcont');
        const linkWithLang = document.querySelectorAll('.link-with-language');

        // Function to update URLs
        function updateLinks(languageCode, languageText) {
            linkWithLang.forEach(function (link) {
                const url = link.getAttribute('data-url');
                // Replace placeholder <lang> with the selected language
                const newUrl = url.replace('%3clang%3e', languageCode);
                link.setAttribute('href', newUrl);
            });

            linkTitleWithLang.forEach(function (title) {
                const titleContent = title.getAttribute('title-content')
                const newTitleContent = titleContent.replace('<lang>', languageText)
                title.textContent = newTitleContent
            });
        }


        if (selectElement) {
            // Initialize with default language
            let selectedOption = selectElement.options[selectElement.selectedIndex];
            updateLinks(selectElement.value, selectedOption.text);

            selectElement.addEventListener('change', function () {
                let selectedOption = selectElement.options[selectElement.selectedIndex];
                updateLinks(selectElement.value, selectedOption.text);
            });
        }
    });
</script>