{{ $title := .Page.Params.title | default "" }}
{{ $description := .Page.Params.description | default "" }}
<div class="columns is-multiline maps-header">
    <div class="column is-6">
        <h1 id="qgis-maps">
            {{ $title }}
            <a class="heading-anchor" href="#qgis-maps"> ¶ </a>
        </h1>
        <p>{{ $description }}</p>
    </div>
    <div class="column is-6">
        <div class="add-map p-3 is-flex">
            <a
                href="https://github.com/qgis/QGIS-Website/issues/559"
                target="_blank"
            >
                <article
                    class="tile is-child box is-transparent is-flex is-justify-content-center is-align-items-center p-0"
                >
                    <figure>
                        <img
                            src="{{ absURL "img/addsupporter.svg" }}"
                            loading="lazy"
                            alt="add supporter"
                        />
                    </figure>
                </article>
                <span class="add-map-title">Add your map here!</span>
            </a>
        </div>
    </div>
</div>
