<p>{{ i18n "qgisMobileExperience" }}</p>
<h5>{{ i18n "thirdPartyTouchOptimizedApps" }}</h5>
<a href="https://qfield.org">{{ i18n "qfieldPlatforms" }}</a>
<div>
	<a href="https://play.google.com/store/apps/details?id=ch.opengis.qfield&amp;utm_source=qgis.org"><img alt="{{ i18n "getItOnGooglePlay" }}" src="{{ absURL "img/app_download_play_store.png" }}"></a>
	<a href="https://apps.apple.com/app/qfield-for-qgis/id1531726814"><img alt="{{ i18n "getItForIOS" }}" src="{{ absURL "img/app_download_apple_store.png" }}"></a>
	<a href="https://qfield.org/get_latest/?platform=windows"><img alt="{{ i18n "getItForWindows" }}" src="{{ absURL "img/app_download_windows.png" }}"></a>
	<a href="https://www.github.com/opengisch/qfield/releases"><img alt="{{ i18n "getItOnGitHub" }}" src="{{ absURL "img/app_download_gh.png" }}"></a>
</div>
<a href="https://merginmaps.com/">{{ i18n "merginMapsPlatforms" }}</a>
<div>
	<a href="https://play.google.com/store/apps/details?id=uk.co.lutraconsulting&amp;utm_source=qgis.org"><img alt="{{ i18n "getItOnGooglePlay" }}" src="{{ absURL "img/app_download_play_store.png" }}"></a>
	<a href="https://apps.apple.com/us/app/mergin-maps-qgis-in-pocket/id1478603559"><img alt="{{ i18n "getItForIOS" }}" src="{{ absURL "img/app_download_apple_store.png" }}"></a>
	<a href="https://www.github.com/MerginMaps/mobile/releases"><img alt="{{ i18n "getItForWindows" }}" src="{{ absURL "img/app_download_windows.png" }}"></a>
	<a href="https://www.github.com/MerginMaps/mobile/releases"><img alt="{{ i18n "getItOnGitHub" }}" src="{{ absURL "img/app_download_gh.png" }}"></a>
</div>
<a href="https://roam-docs.readthedocs.io">{{ i18n "intramapsRoam" }}</a>
<div>
	<a href="https://github.com/roam-qgis/Roam/releases"><img alt="{{ i18n "getItForWindows" }}" src="{{ absURL "img/app_download_windows.png" }}"></a>
	<a href="https://github.com/roam-qgis/Roam/releases"><img alt="{{ i18n "getItOnGitHub" }}" src="{{ absURL "img/app_download_gh.png" }}"></a>
</div>
