<p>The QGIS experience does not stop on the desktop. Various touch optimized apps allow you to take QGIS into the field</p>
<h5>Third-party touch optimized apps</h5>
<a href="https://qfield.org">QField (Android, iOS, Windows, macOS, Linux)</a>
<div>
	<a href="https://play.google.com/store/apps/details?id=ch.opengis.qfield&amp;utm_source=qgis.org"><img alt="Get it on Google Play" src="{{ absURL "img/app_download_play_store.png" }}"></a>
	<a href="https://apps.apple.com/app/qfield-for-qgis/id1531726814"><img alt="Get it for iOS" src="{{ absURL "img/app_download_apple_store.png" }}"></a>
	<a href="https://qfield.org/get_latest/?platform=windows"><img alt="Get it for Windows" src="{{ absURL "img/app_download_windows.png" }}"></a>
	<a href="https://www.github.com/opengisch/qfield/releases"><img alt="Get it on GitHub" src="{{ absURL "img/app_download_gh.png" }}"></a>
</div>
<a href="https://merginmaps.com/">Mergin Maps mobile app (available for Android, iOS and Windows devices)</a>
<div>
	<a href="https://play.google.com/store/apps/details?id=uk.co.lutraconsulting&amp;utm_source=qgis.org"><img alt="Get it on Google Play" src="{{ absURL "img/app_download_play_store.png" }}"></a>
	<a href="https://apps.apple.com/us/app/mergin-maps-qgis-in-pocket/id1478603559"><img alt="Get it for iOS" src="{{ absURL "img/app_download_apple_store.png" }}"></a>
	<a href="https://www.github.com/MerginMaps/mobile/releases"><img alt="Get it for Windows" src="{{ absURL "img/app_download_windows.png" }}"></a>
	<a href="https://www.github.com/MerginMaps/mobile/releases"><img alt="Get it on GitHub" src="{{ absURL "img/app_download_gh.png" }}"></a>
</div>
<a href="https://roam-docs.readthedocs.io">IntraMaps Roam</a>
<div>
	<a href="https://github.com/roam-qgis/Roam/releases"><img alt="Get it for Windows" src="{{ absURL "img/app_download_windows.png" }}"></a>
	<a href="https://github.com/roam-qgis/Roam/releases"><img alt="Get it on GitHub" src="{{ absURL "img/app_download_gh.png" }}"></a>
</div>
