{{ $icon := .Get "icon" }}
{{ $image := .Get "image" }}
{{ $layoutClass := .Get "layoutClass" }}
{{ $iconClass := cond (ne $icon "") "has-icon" "" }}
{{ $imageClass := cond (ne $image "") "has-image" "" }}

{{ $url := .Get "listLink" }}

{{ with index .Site.Data.conf }}
	{{ $ltrversion := .ltrversion }}
	{{ $version := .version }}

	{{/* github links have underscore notation (3_34 instead of 3.34) */}}
	{{ if findRE "github.com/qgis/QGIS/blob/release" $url }}
		{{ $ltrversion = replace $ltrversion "." "_" }}
		{{ $version = replace $version "." "_" }}
	{{ end }}

	{{ $url = replace $url "|ltrversion|" $ltrversion }}
	{{ $url = replace $url "|version|" $version }}
{{ end }}

{{ $isExternal := or (strings.HasPrefix $url "http://") (strings.HasPrefix $url "https://") }}
{{ $rel := cond $isExternal "noopener noreferrer" "" }}
{{ $target := cond $isExternal "_blank" "" }}
{{ $externalClass := cond $isExternal "external-link" "" }}

{{ $listTitle := .Get "listTitle" }}
{{ $listSubtitle := .Get "listSubtitle" }}

{{ if $url }}
    <a
        class="rich-list {{ $layoutClass }} {{ $iconClass }} {{ $imageClass }} mr-2 mb-2"
        href="{{ $url }}"
        data-url="{{ $url }}"
        target="{{ $target }}"
        rel="{{ $rel }}"
        {{ .Get "linkAttr" }}
    >
        {{ with .Get "icon" }}
            <div class="icon">{{ . }}</div>
        {{ end }}
        {{ with .Get "image" }}
            <div class="image"><img src="{{ . }}"></div>
        {{ end }}
        <div class="listcont {{ $externalClass }}" title-content="{{ $listTitle }}">{{ $listTitle }}</div>
        <div class="subtext is-size-7">{{ $listSubtitle }}</div>
    </a>
{{ else }}
    <div class="rich-list {{ $layoutClass }} {{ $iconClass }} {{ $imageClass }} mr-2 mb-2">
        {{ with .Get "icon" }}
            <div class="icon">{{ . }}</div>
        {{ end }}
        {{ with .Get "image" }}
            <div class="image"><img src="{{ . }}"></div>
        {{ end }}
        <div class="listcont">{{ $listTitle }}</div>
        <div class="subtext is-size-7">{{ $listSubtitle }}</div>
    </div>
{{ end }}
