<div class="container">
    <h2 class="title">Stable Release</h2>
    <ul class="steps is-balanced mb-6">
        <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
            <div class="is-size-5 has-text-weight-normal">1. Initial Release</div>
            <div class="info">info</div>
            <p class="pt-2 info-content">Our stable releases are created by periodically taking a development version and 'hardening' it by focussing only on bugfixes.</p>
            </div>
        </li>
        <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <div>
                    <div class="is-size-5 has-text-weight-normal">2. Point Release</div>
                    <nav id="point-release" class="level">
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                                <p class="days heading is-size-7 tag "></p>
                                <p class="title is-size-7"> Days  </p>
                            </div>
                        </div>
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                            <p class="hours heading is-size-7 tag "></p>
                            <p class="title is-size-7"> Hours </p>
                            </div>
                        </div>
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                                <p class="minutes heading is-size-7 tag "></p>
                                <p class="title is-size-7">Min.</p>
                            </div>
                        </div>
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                                <p class="seconds heading is-size-7 tag "></p>
                                <p class="title is-size-7">Sec.</p>
                            </div>
                        </div>
                    </nav>
                </div>
                <p class="pt-2">Each month we create a new point release for our stable version. These releases contain no new features, only bug fixes.</p>
            </div>
        </li>
        <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <div class="is-size-5 has-text-weight-normal">3. Packaging</div>
                <p class="">Here we tag the release and make it available for packaging on different platforms.</p>
            </div>
        </li>
        <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <div class="is-size-5 has-text-weight-normal">4. Installers available</div>
                <p class="pt-2">The exact period between packaging and the availablility of installers varies by platform as maintainers prepare their packages. See the download pages for updates on availability.</p>
            </div>
            </li>
    </ul>

    <h2 class="title">Development Version</h2>
    <ul class="steps is-balanced mb-6">
        <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
            <div class="is-size-5 has-text-weight-normal">1. Active development</div>
            <p class="pt-2">This is the open stage for accepting new features.</p>
            </div>
        </li>
        <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <div>
                    <div class="is-size-5 has-text-weight-normal">2. Feature freeze</div>
                    <nav id="freeze" class="level">
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                                <p class="days heading is-size-7 tag "></p>
                                <p class="title is-size-7">Days</p>
                            </div>
                        </div>
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                            <p class="hours heading is-size-7 tag "></p>
                            <p class="title is-size-7">Hours</p>
                            </div>
                        </div>
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                                <p class="minutes heading is-size-7 tag "></p>
                                <p class="title is-size-7">Min.</p>
                            </div>
                        </div>
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                                <p class="seconds heading is-size-7 tag "></p>
                                <p class="title is-size-7">Sec.</p>
                            </div>
                        </div>
                    </nav>
                </div>
                <p class="pt-2">During feature freeze, no new features are accepted, only bug fixes and code clean ups.</p>
            </div>
        </li>
        <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <div class="is-size-5 has-text-weight-normal">3. Packaging</div>
                <div>
                    <nav id="package" class="level">
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                                <p class="days heading is-size-7 tag "></p>
                                <p class="title is-size-7">Days</p>
                            </div>
                        </div>
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                            <p class="hours heading is-size-7 tag "></p>
                            <p class="title is-size-7">Hours</p>
                            </div>
                        </div>
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                                <p class="minutes heading is-size-7 tag "></p>
                                <p class="title is-size-7">Min.</p>
                            </div>
                        </div>
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                                <p class="seconds heading is-size-7 tag "></p>
                                <p class="title is-size-7">Sec.</p>
                            </div>
                        </div>
                    </nav>
                </div>
                <p class="pt-2">Here we tag the release and make it available for packaging on different platforms.</p>
            </div>
        </li>
        <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <div class="is-size-5 has-text-weight-normal">4. Installers available</div>
                <p class="pt-2">The exact period between packaging and the availablility of installers varies by platform as maintainers prepare their packages. See the download pages for updates on availability.</p>
            </div>
            </li>
    </ul>
</div>
<script>
    /** Script graciously provided at https://codepen.io/SitePoint/pen/MwNPVq */
    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
          'total': t,
          'days': days,
          'hours': hours,
          'minutes': minutes,
          'seconds': seconds
        };
      }
      
      function initializeClock(id, endtime) {
        var clock = document.getElementById(id);
        var daysSpan = clock.querySelector('.days');
        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        var secondsSpan = clock.querySelector('.seconds');
      
        function updateClock() {
          var t = getTimeRemaining(endtime);
      
          daysSpan.innerHTML = t.days;
          hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
          minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
          secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
      
          if (t.total <= 0) {
            clearInterval(timeinterval);
          }
        }
      
        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
      }
      
      var deadline = new Date(Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000);
      initializeClock('point-release', deadline);
      initializeClock('latest-point-release', deadline);
      initializeClock('freeze', deadline);
      initializeClock('package', deadline);
    </script>