<div class="container">
    <div class="roadmap  mb-4">
        {{ with index .Site.Data.conf }}
            <div class="right-ribbon"><span class="stable">{{ i18n "current" }}: {{ .ltrrelease }}</span></div>
        {{ end }}
    <h3 class="title">{{ i18n "longTermRelease" }}</h3>
    <ul class="steps is-balanced">
        <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
            <div class="has-text-weight-normal is-flex is-flex-direction-row-reverse is-justify-content-left is-align-items-center">
                <span>
                    {{ i18n "initialRelease" }}
                </span>
                <span class="help-tip">
                    <span>{{ i18n "initialReleaseTip" }}</span>
                 </span>
            </div>
            
        </li>
        <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <div>
                    <div class="has-text-weight-normal is-flex is-flex-direction-row-reverse is-justify-content-left is-align-items-center">
                        <span>
                            {{ i18n "pointRelease" }}:
                            {{ with index .Site.Data.conf }}
                                <span class="rm-current">{{ .next_ltr_version }}</span>
                            {{ end }}
                        </span>
                        <span class="help-tip">
                            <span>{{ i18n "latestPointReleaseTip" }}</span>
                        </span>
                    </div>
                    <nav id="point-release" class="level">
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                                <p class="days heading is-size-7 tag "></p>
                                <p class="is-size-7">{{ i18n "days" }}</p>
                            </div>
                        </div>
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                            <p class="hours heading is-size-7 tag "></p>
                            <p class="is-size-7">{{ i18n "hours" }}</p>
                            </div>
                        </div>
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                                <p class="minutes heading is-size-7 tag "></p>
                                <p class="is-size-7">{{ i18n "minutes" }}</p>
                            </div>
                        </div>
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                                <p class="seconds heading is-size-7 tag "></p>
                                <p class="is-size-7">{{ i18n "seconds" }}</p>
                            </div>
                        </div>

                        <button id="addPrToCalendar" class="button is-small is-light" title="{{ i18n "addToCalendar" }}">
                            <span class="icon is-small">
                                <i class="fas fa-calendar"></i>
                            </span>
                        </button>
                    </nav>
                </div>
            </div>
        </li>
        <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <div class="has-text-weight-normal is-flex is-flex-direction-row-reverse is-justify-content-left is-align-items-center">
                    <span>{{ i18n "packaging" }}</span>
                    <span class="help-tip">
                        <span>{{ i18n "packagingTip" }}</span>
                    </span>
                </div>
            </div>
        </li>
        <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <div class="has-text-weight-normal is-flex is-flex-direction-row-reverse is-justify-content-left is-align-items-center">
                    <span>{{ i18n "installersAvailable" }}</span>
                    <span class="help-tip">
                        <span>{{ i18n "installersAvailableTip" }}</span>
                    </span>
                </div>
            </div>
        </li>
    </ul>
    </div>

    <div class="roadmap  mb-4">
    {{ with index .Site.Data.conf }}
        <div class="right-ribbon"><span class="latest">{{ i18n "current" }}: {{ .release }}</span></div>
    {{ end }}
    <h3 class="title">{{ i18n "latestRelease" }}</h3>
    <ul class="steps is-balanced">
        <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
            <div class="has-text-weight-normal is-flex is-flex-direction-row-reverse is-justify-content-left is-align-items-center">
                <span>
                    {{ i18n "initialRelease" }}
                </span>
                <span class="help-tip">
                    <span>{{ i18n "initialReleaseTip" }}</span>
                 </span>
            </div>
            
        </li>
        <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <div>
                    <div class="has-text-weight-normal is-flex is-flex-direction-row-reverse is-justify-content-left is-align-items-center">
                        <span>
                            {{ i18n "pointRelease" }}:
                            {{ with index .Site.Data.conf }}
                                <span class="rm-next">{{ .next_lr_version }}</span>
                            {{ end }}
                        </span>
                        <span class="help-tip">
                            <span>{{ i18n "latestPointReleaseTip" }}</span>
                        </span>
                    </div>
                    <nav id="latest-point-release" class="level">
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                                <p class="days heading is-size-7 tag "></p>
                                <p class="is-size-7">{{ i18n "days" }}</p>
                            </div>
                        </div>
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                            <p class="hours heading is-size-7 tag "></p>
                            <p class="is-size-7">{{ i18n "hours" }}</p>
                            </div>
                        </div>
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                                <p class="minutes heading is-size-7 tag "></p>
                                <p class="is-size-7">{{ i18n "minutes" }}</p>
                            </div>
                        </div>
                        <div class="level-item is-narrow has-text-centered">
                            <div>
                                <p class="seconds heading is-size-7 tag "></p>
                                <p class="is-size-7">{{ i18n "seconds" }}</p>
                            </div>
                        </div>
                        <button id="addLatestPrToCalendar" class="button is-small is-light" title="{{ i18n "addToCalendar" }}">
                            <span class="icon is-small">
                                <i class="fas fa-calendar"></i>
                            </span>
                        </button>
                    </nav>
                </div>
            </div>
        </li>
        <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <div class="has-text-weight-normal is-flex is-flex-direction-row-reverse is-justify-content-left is-align-items-center">
                    <span>{{ i18n "packaging" }}</span>
                    <span class="help-tip">
                        <span>{{ i18n "packagingTip" }}</span>
                    </span>
                </div>
            </div>
        </li>
        <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <div class=" has-text-weight-normal is-flex is-flex-direction-row-reverse is-justify-content-left is-align-items-center">
                    <span>{{ i18n "installersAvailable" }}</span>
                    <span class="help-tip">
                        <span>{{ i18n "installersAvailableTip" }}</span>
                    </span>
                </div>
            </div>
            </li>
    </ul>
    </div>

    <div class="roadmap  mb-6">
        {{ with index .Site.Data.conf }}
            <div class="right-ribbon"><span class="development">{{ i18n "future" }}: {{ .nextversion }}</span></div>
        {{ end }}
        <h3 class="title">{{ i18n "developmentVersion" }}</h3>
        <ul class="steps is-balanced">
            <li class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content">
                <div class=" has-text-weight-normal is-flex is-flex-direction-row-reverse is-justify-content-left is-align-items-center">
                    <span>{{ i18n "activeDevelopment" }}</span>
                    <span class="help-tip">
                        <span>{{ i18n "activeDevelopmentTip" }}</span>
                    </span>
    
                </div>
                </div>
            </li>
            <li class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content">
                    <div>
                        <div class="has-text-weight-normal is-flex is-flex-direction-row-reverse is-justify-content-left is-align-items-center">
                            <span>
                                {{ i18n "featureFreeze" }}:
                                {{ with index .Site.Data.conf }}
                                    <span class="rm-future">{{ .devversion }}</span>
                                {{ end }}
                            </span>
                            <span class="help-tip">
                                <span>{{ i18n "featureFreezeTip" }}</span>
                            </span>
                        </div>
                        <nav id="freeze" class="level">
                            <div class="level-item is-narrow has-text-centered">
                                <div>
                                    <p class="days heading is-size-7 tag "></p>
                                    <p class="is-size-7">{{ i18n "days" }}</p>
                                </div>
                            </div>
                            <div class="level-item is-narrow has-text-centered">
                                <div>
                                <p class="hours heading is-size-7 tag "></p>
                                <p class="is-size-7">{{ i18n "hours" }}</p>
                                </div>
                            </div>
                            <div class="level-item is-narrow has-text-centered">
                                <div>
                                    <p class="minutes heading is-size-7 tag "></p>
                                    <p class="is-size-7">{{ i18n "minutes" }}</p>
                                </div>
                            </div>
                            <div class="level-item is-narrow has-text-centered">
                                <div>
                                    <p class="seconds heading is-size-7 tag "></p>
                                    <p class="is-size-7">{{ i18n "seconds" }}</p>
                                </div>
                            </div>
                            <button id="addFreezeToCalendar" class="button is-small is-light" title="{{ i18n "addToCalendar" }}">
                                <span class="icon is-small">
                                    <i class="fas fa-calendar"></i>
                                </span>
                            </button>
                        </nav>
                    </div>
                </div>
            </li>
            <li class="steps-segment is-active">
                <span class="steps-marker"></span>
                <div class="steps-content">
                    <div class=" has-text-weight-normal is-flex is-flex-direction-row-reverse is-justify-content-left is-align-items-center">
                        <span>
                            {{ i18n "pointRelease" }}:
                            {{ with index .Site.Data.conf }}
                                <span class="rm-future">{{ .nextversion }}</span>
                            {{ end }}
                        </span>
                        <span class="help-tip">
                            <span>{{ i18n "pointReleaseTip" }}</span>
                        </span>
                    </div>
                    <div>
                        <nav id="package" class="level">
                            <div class="level-item is-narrow has-text-centered">
                                <div>
                                    <p class="days heading is-size-7 tag "></p>
                                    <p class="is-size-7">{{ i18n "days" }}</p>
                                </div>
                            </div>
                            <div class="level-item is-narrow has-text-centered">
                                <div>
                                <p class="hours heading is-size-7 tag "></p>
                                <p class="is-size-7">{{ i18n "hours" }}</p>
                                </div>
                            </div>
                            <div class="level-item is-narrow has-text-centered">
                                <div>
                                    <p class="minutes heading is-size-7 tag "></p>
                                    <p class="is-size-7">{{ i18n "minutes" }}</p>
                                </div>
                            </div>
                            <div class="level-item is-narrow has-text-centered">
                                <div>
                                    <p class="seconds heading is-size-7 tag "></p>
                                    <p class="is-size-7">{{ i18n "seconds" }}</p>
                                </div>
                            </div>
                            <button id="addPackageToCalendar" class="button is-small is-light" title="{{ i18n "addToCalendar" }}">
                                <span class="icon is-small">
                                    <i class="fas fa-calendar"></i>
                                </span>
                            </button>
                        </nav>
                    </div>
                </div>
            </li>

            <li class="steps-segment is-active">
                <span class="steps-marker"></span>
                <div class="steps-content">
                    <div class="has-text-weight-normal is-flex is-flex-direction-row-reverse is-justify-content-left is-align-items-center">
                        <span>{{ i18n "packaging" }}</span>
                        <span class="help-tip">
                            <span>{{ i18n "packagingTip" }}</span>
                        </span>
                    </div>
                </div>
            </li>
            <li class="steps-segment is-active">
                <span class="steps-marker"></span>
                <div class="steps-content">
                    <div class=" has-text-weight-normal is-flex is-flex-direction-row-reverse is-justify-content-left is-align-items-center">
                        <span>{{ i18n "installersAvailable" }}</span>
                        <span class="help-tip">
                            <span>{{ i18n "installersAvailableTip" }}</span>
                        </span>
                    </div>
                </div>
                </li>
        </ul>
        </div>
</div>
<script>
    /** Script graciously provided at https://codepen.io/SitePoint/pen/MwNPVq */
    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
          'total': t,
          'days': days,
          'hours': hours,
          'minutes': minutes,
          'seconds': seconds
        };
      }
      
      function initializeClock(id, endtime) {
        var clock = document.getElementById(id);
        var daysSpan = clock.querySelector('.days');
        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        var secondsSpan = clock.querySelector('.seconds');
      
        function updateClock() {
          var t = getTimeRemaining(endtime);
      
          if (t.total <= 0) {
            clearInterval(timeinterval);
            // Hide the counter when the date is reached
            clock.innerHTML = ''
          } else {
            daysSpan.innerHTML = t.days;
            hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
          }
        }
      
        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
      }
      
      {{ with index .Site.Data.conf }}
        let nextFreezeDateStr = {{ .nextfreezedate }};
        let nextReleaseDateStr = {{ .nextreleasedate }};
        let nextPointReleaseDateStr = {{ .nextpointreleasedate }};
        let nextLtrVersion = {{ .next_ltr_version }};
        let nextLrVersion = {{ .next_lr_version }};
        let devVersion = {{ .devversion }};
        let nextVersion = {{ .nextversion }};

      {{ end }}
      //   We need to correct the date string format for Safari otherwise it will return NaN
      const nextFreezeDate = new Date(nextFreezeDateStr.replace(" ", "T").replace(" UTC", "Z"))
      const nextReleaseDate = new Date(nextReleaseDateStr.replace(" ", "T").replace(" UTC", "Z"))
      const nextPointReleaseDate = new Date(nextPointReleaseDateStr.replace(" ", "T").replace(" UTC", "Z"))

      initializeClock('point-release', nextPointReleaseDate);
      initializeClock('latest-point-release', nextPointReleaseDate);
      initializeClock('freeze', nextFreezeDate);
      initializeClock('package', nextReleaseDate);

      function createiCalendar(event) {
        // Format the date/time in the iCalendar format (UTC)
        const formatDate = (date) =>
          date.toISOString().replace(/-|:|\.\d+/g, "");
        // Create the iCalendar file content
        const icsContent = `
BEGIN:VCALENDAR
VERSION:2.0
BEGIN:VEVENT
SUMMARY:${event.title}
DTSTART:${formatDate(event.start)}
DTEND:${formatDate(event.end)}
END:VEVENT
END:VCALENDAR
        `.trim();

        // Create a blob and a download link
        const blob = new Blob([icsContent], { type: "text/calendar" });
        const link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = "event.ics";
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      }
    function addEventToCalendar(buttonId, eventTitle, eventDate) {
      document.getElementById(buttonId).addEventListener("click", () => {
        const event = {
            title: eventTitle,
            start: eventDate,
            end: eventDate,
        };
        createiCalendar(event);
      });
    }

    addEventToCalendar("addPrToCalendar", `QGIS Point Release ${nextLtrVersion}`, nextPointReleaseDate);
    addEventToCalendar("addLatestPrToCalendar", `QGIS Point Release ${nextLrVersion}`, nextPointReleaseDate);
    addEventToCalendar("addFreezeToCalendar", `QGIS Feature Freeze ${devVersion}`, nextFreezeDate);
    addEventToCalendar("addPackageToCalendar", `QGIS Release ${nextVersion}`, nextReleaseDate);
    </script>
