<div style="background: #fff; border-radius: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px; width: 100%">
    <p>Monthly</p>
    <form id="donate-stripe">
        <!-- NOTE: amount value is in CENTS !!!-->
        <input value="eur:1000" id="eur:1000" type="radio" name="amount">
        <label for="eur:1000" class="button is-info is-outlined">€ 10.00</label>
        <input value="eur:2500" id="eur:2500" type="radio" name="amount">
        <label for="eur:2500" class="button is-info is-outlined">€ 25.00</label>
        <input value="eur:5000" id="eur:5000" type="radio" name="amount">
        <label for="eur:5000" class="button is-info is-outlined">€ 50.00</label>
        <input value="eur:10000" id="eur:10000" type="radio" name="amount">
        <label for="eur:10000" class="button is-info is-outlined">€ 100.00</label>
        <input value="eur:25000" id="eur:25000" type="radio" name="amount">
        <label for="eur:25000" class="button is-info is-outlined">€ 250.00</label>
        <input value="usd:1000" id="usd:1000" type="radio" name="amount" checked>
        <label for="usd:1000" class="button is-info is-outlined">$ 10.00</label>
        <input value="usd:2500" id="usd:2500" type="radio" name="amount">
        <label for="usd:2500" class="button is-info is-outlined">$ 25.00</label>
        <input value="usd:5000" id="usd:5000" type="radio" name="amount">
        <label for="usd:5000" class="button is-info is-outlined">$ 50.00</label>
        <input value="usd:10000" id="usd:10000" type="radio" name="amount">
        <label for="usd:10000" class="button is-info is-outlined">$ 100.00</label>
        <input value="usd:25000" id="usd:25000" type="radio" name="amount">
        <label for="usd:25000" class="button is-info is-outlined">$ 250.00</label>
        <br>
        <br>
        <button id='submit-button' class="button is-info">Donate</button>
    </form>

    <div>
      <div class="alpha70">Other methods, more info</div>
      <select id="currency" style="display: inline-block" onchange="updateCurrency()">
        <option value="usd">USD</option>
        <option value="eur">EUR</option>
      </select>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
{{ $donatejs := resources.Get "js/donate.js" | resources.ExecuteAsTemplate "donate.js" . | resources.Fingerprint }}
<script
    src="{{ $donatejs.RelPermalink }}"
    integrity="{{ $donatejs.Data.Integrity }}"
></script>
