<div class="stripe-widget donatbox">
    <p id="donate-frequency-options">
        <a id="once" class="mr-4 is-active" onclick="updateOptions('once')">One-Time</a>
        <a id="monthly" onclick="updateOptions('monthly')">Monthly</a>
    </p>
    <hr>
    <form id="donate-stripe">
    {{ range sort $.Site.Data.stripe_products }}
        <input value="{{ .payment_link }}" id="{{ .id }}" type="radio" name="amount">
        <label for="{{ .id }}" class="button is-primary1 is-outlined picker">{{ .label }}</label>
    {{ end }}
    </form>
        <br>
        <a
            id="submit-button" 
            class="button is-primary1"
            rel="noopener noreferrer"
            target="_blank"
            {{/* href to be set by js depending on selected donation */}}
        >Donate
        </a>

    <div class="is-flex is-justify-content-space-between stripe-widget-footer">
      {{ if .Get "otherMethods" }}
          <a href="{{ absURL "funding/donate/" }}">Other methods, more info</a>
      {{ end }}
      <select id="currency" class="currency" onchange="updateOptions()">
        <option value="eur">EUR</option>
        <option value="usd">USD</option>
      </select>
    </div>
</div>

{{ $donatejs := resources.Get "js/donate.js" | resources.Minify }}
<script
    src="{{ $donatejs.RelPermalink }}"
></script>
