{{ $tab1 := .Get "tab1" }}
{{ $tab2 := .Get "tab2" }}
{{ $tab3 := .Get "tab3" }}
{{ $tab4 := .Get "tab4" }}
{{ $tab5 := .Get "tab5" }}

{{ with index .Site.Data.conf }}
	{{ $tab1 = replace $tab1 "|ltrversion|" .ltrversion }}
	{{ $tab2 = replace $tab2 "|ltrversion|" .ltrversion }}
	{{ $tab2 = replace $tab2 "|version|" .version }}
	{{ $tab3 = replace $tab3 "|version|" .version }}
{{ end }}

<div class="tabs">
    <ul>
        {{ if $tab1 }}
            <li><a class="is-active" id="tab-1">{{ $tab1 }}</a></li>
        {{ end }}
        {{ if $tab2 }}
            <li><a id="tab-2">{{ $tab2 }}</a></li>
        {{ end }}
        {{ if $tab3 }}
            <li><a id="tab-3">{{ $tab3 }}</a></li>
        {{ end }}
        {{ if $tab4 }}
            <li><a id="tab-4">{{ $tab4 }}</a></li>
        {{ end }}
        {{ if $tab4 }}
            <li><a id="tab-5">{{ $tab5 }}</a></li>
        {{ end }}
    </ul>
</div>

<script>
    function openTab(event) {
        var tabId = event.target.id;

        // Hide all tab contents
        document.querySelectorAll('[id^="content-tab-"]').forEach((e) => {
            e.style.display = "none";
        });

        // Remove 'is-active' class from all tabs
        document.querySelectorAll('[id^="tab-"]').forEach((e) => {
            e.classList.remove("is-active");
        });

        // Show the selected tab content
        document.getElementById("content-" + tabId).style.display = "block";

        // Add 'is-active' class to the clicked tab
        document.getElementById(tabId).classList.add("is-active");
    }

    document.querySelectorAll('[id^="tab-"]').forEach((e) => {
        e.addEventListener("click", openTab);
    });

    // hide all content except the 1st
    document.addEventListener("DOMContentLoaded", () => {
        document
            .querySelectorAll('[id^="content-tab-"]:not(#content-tab-1)')
            .forEach((e) => {
                e.style.display = "none";
            });
    });
</script>
