{{ partial "header.html" . }}
{{ partial "menu.html" . }}
{{ partial "submenu.html" . }}
{{ partial "banner.html" . }}

<section>
    <div class="container content">
        {{/* Get the title in the _index.md frontmatter in the parent folder */}}
        <div class="columns is-multiline is-centered">
            {{ partial "sidebar.html" . }}
            <div class="content column is-9">
            <h1 class="title">{{ .Title }}</h1>
            {{ if .Params.subtitle }}
                <p class="is-size-5">{{ .Params.subtitle }}</p>
            {{ end }}

                {{ range (.Paginator 500 ).Pages }}
                {{ $thumbnail_url := .Params.thumbnail }}
                {{ $has_right := cond (eq $thumbnail_url nil) "" "has-right" }}

                <div class="container rich {{ $has_right }}" >
                    <div class="cont coloring-1">
                        <h3 class="">{{ .Title }}</h3>
                            <p> {{ .Description }}</p>
                            <a class="button is-primary1 " href="{{ .Permalink }}">
                                <span>Read more</span>
                            </a>
                    </div>
                    {{ if $has_right}}
                    <div class="rich-right">
                        <img src="{{ $thumbnail_url }}">
                    </div>
                    {{end}}
                </div>
                {{ end }}
               </div>
        </div>  
    </div>
</section>

{{ partial "pagination.html" }}
{{ partial "footer.html" }}