{{ partial "header.html" . }}
{{ partial "menu.html" . }}
{{ partial "banner.html" . }}
{{ partial "contextmenu.html" . }}

<section class="section">
    <div class="container content narrow search-cantainer" >
    <h1 class="title">Search Results</h1>
        <div class="search-loading">Loading...</div>
        <div class="list">
            <div id="search-results"></div>
        </div>
    </div>
</section>  
    
    {{/* This javascript template will get iteratively rendered into the 
         div above with id of search-results. See search.js for
         logic of how this template is called. */}}
    <script id="search-result-template" type="text/x-js-template">
        <a href="${link}" class="search-item">
                <div class="list-item">
                <div id="summary-${key}" class="list-item-content">
                    <div class="list-item-title">${title}
                    </div>
                    <div class="list-item-description">
                        ${snippet}
                    </div>
                    <div class="tags is-pulled-right">  
                        ${ isset categories }${categories}${ end } 
                        ${ isset tags }${tags}${ end }
                    </div>        
                </div>
            </div>
        </a>    
    </script>


{{ partial "blocks-end.html" . }}
{{ partial "footer.html" . }}