{{ partial "header.html" . }}


<section class="hero is-info is-small">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Modal Cards
            </p>
            <p class="subtitle">
                Subtitle
            </p>
        </div>
    </div>
</section>
<div class="box cta">
    <p class="has-text-centered">
        <span class="tag is-primary">New</span> Here we have modal cards. When you click on them they will open
        functional modal examples.
    </p>
</div>
<section class="container">
    {{ range .Paginator.Pages }}
    <div class="columns">
        <div class="column is-5 is-offset-1">
            <div class="card is-shady">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/hLyd1LukQ7E" alt="butterfly image" class="modal-button"
                            data-target="modal-image4">
                    </figure>
                </div>
            </div>
        </div>
        <div class="column is-5 is-shady">
            <div class="card-content">
                <div class="content">
                    <h4><a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a></h4>
                    <p>{{ .Date.Format "02 Jan 2006, 15:04" }}</p>
                    {{ with .Params.author }}
                    By <strong class="post-author">{{ . }}</strong>
                    {{ end }}
                    {{ if isset .Params "categories" }}
                    under
                    {{ range .Params.categories }}<a class="post-category post-category-{{ . }}"
                        href='{{ ( printf "categories/%s" . ) | absURL }}'>{{ . }}</a>{{ end }}
                    {{ end }}
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</section>
{{ partial "pagination.html" . }}

{{ partial "footer.html" . }}