{{ partial "header.html" . }}
{{ partial "menu.html" . }}
{{ partial "submenu.html" . }}
{{ partial "banner.html" . }}

<section>
    <div class="container notification is-light">
        {{/* Get the title in the _index.md frontmatter in the parent folder */}}
        <h1 class="title">{{ .Title }}</h1>
        <div class="list">
        {{ range (.Paginator 500 ).Pages }}
            <div class="list-item">
                <div class="list-item-image">
                    <figure class="image is-64x64">
                    {{ $thumbnail := .Params.thumbnail }}
                    {{ if eq $thumbnail nil }}
                    {{ $thumbnail = "" }}
                    {{ end }}
                        <img class="is-rounded" src="{{ .Permalink }}{{ $thumbnail }}">
                    </figure>
                </div>
            
                <div class="list-item-content">
                    <div class="list-item-title"><a href="{{ .Permalink }}">{{ .Title }}</a>
                    </div>
                    <div class="list-item-description">
                        <p class="is-size-7">
                        {{ .Date.Format "Jan 2006" }} - {{ with .Params.author }} 
                            {{ . }}{{ end }}
                        </p>
                        <p>
                            <a href="{{ .Permalink }}" class="post-title">{{ .Description }}</a>
                        </p>
                        <div class="tags">                            
                        {{ if isset .Params "categories" }}
                             {{ range .Params.categories }}
                                <span class="tag is-danger" ><a href='{{ ( printf "categories/%s" . ) | absURL }}'>{{ . }}</a></span>
                            {{ end }}                       
                        {{ end }}         
                        {{ if isset .Params "tags" }}
                            {{ range .Params.tags }}
                                <span class="tag is-warning" ><a href='{{ ( printf "tags/%s" . ) | absURL }}'>{{ . }}</a></span>
                            {{ end }}
                        {{ end }}                               
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
        </div>  
    </div>
</section>

{{ partial "pagination.html" }}
{{ partial "footer.html" }}