{{ partial "header.html" }}
{{ partial "banner.html" . }}
{{ range .Paginator.Pages }}


{{ .Date.Format "02 Jan 2006, 15:04" }}
<a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>
{{ with .Params.author }}
By <strong class="post-author">{{ . }}</strong>
{{ end }}
{{ if isset .Params "categories" }}
under
{{ range .Params.categories }}
<a class="post-category-{{ . }}" href='{{ ( printf "categories/%s" . ) | absURL }}'>{{ . }}</a>
{{ end }}
{{ end }}
{{ .Content }}


{{ end }}
{{ partial "pagination.html" }}
{{ partial "footer.html" }}