{{ partial "header.html" . }}
{{ partial "menu.html" . }}
{{ partial "banner.html" . }}
{{ partial "blocks-start.html" . }}
<main>
    <div id="search-results"></div>
    <div class="search-loading">Loading...</div>

    <script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
        <h3 class="is-success"><a href="${link}">${title}</a></h3>
        <p class="box notification is-light"><a href="${link}">${snippet}</a></p>
        <p class="has-text-right">
            <a href="${link}">
                <small class="tag">
                    ${ isset tags }Tags: ${tags}<br>${ end }
                </small>
            </a>
        </p>
    </div>
    </script>
</main>

{{ partial "blocks-end.html" . }}
{{ partial "footer.html" . }}