.roadmap
  .rm-past
    color: #4D6370
    &:hover
      color: black
  .rm-future
    font-weight: 600
    color: #4D6370
  .rm-current
    font-weight: 600
    color: #3a9800
  .rm-next
    font-weight: 600
    color: #ee7913
  tr:hover
    background-color: #ECF1F4
    .rm-past, .rm-future
      color: black

div
  &.roadmap
    background: #f4f7f9
    padding: 2rem
    border-radius: 10px
    position: relative  

.content .steps
  margin-left: 0rem 
  .steps-content
    margin-top: 0.5rem
    max-width: 200px
    font-size: 11pt
    +mobile
      max-width: 100%
    div
      +mobile
        display: block !important

  .tag
    margin-top: 0.25rem
    margin-bottom: 0.25rem
    background-color: #ffffff
    border: 1px solid #9fbbcb
    padding-right: 0.5rem
    padding-left: 0.5rem
  li + li 
    margin-top: 0px
  .heading
    font-weight: 400  
  .level 
    justify-content: flex-start
    margin-top: 1rem
    .level-item
      margin-right: 5px
    +mobile
      display: flex
      align-items: flex-start

.steps-segment 
  list-style: none  
  
.content 
  .steps:not(.is-hollow) .steps-segment.is-active .steps-marker:not(.is-hollow), .steps-segment:after, .steps:not(.is-hollow) .steps-marker:not(.is-hollow)
    background-color: #589632
  .steps:not(.is-hollow) .steps-segment.is-active ~ .steps-segment .steps-marker:not(.is-hollow), .steps-segment.is-active ~ .steps-segment:after, .steps-segment.is-active:after
    background-color: #dbe5eb
  .steps:not(.is-vertical) .steps-content
    margin-left: 0
    +mobile
      margin-left: 0.75rem

.help-tip
  text-align: center
  background-color: #dbe5eb
  border-radius: 50%
  width: 24px
  height: 24px
  font-size: 14px
  cursor: default
  margin: 3px 5px 0px 0px
  +mobile
        width: 100%
        height: auto
        position: relative
        background: none

  &:before
    content: '?'
    font-weight: 600
    color: #4d6370
    +mobile
        display: none !important

  &:hover span
    display: block
    transform-origin: 100% 0%
    -webkit-animation: fadeIn 0.3s ease-in-out
    animation: fadeIn 0.3s ease-in-out

  span
    display: none
    text-align: left
    background-color: #1E2021
    padding: 16px
    width: 200px
    position: absolute
    border-radius: 3px
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2)
    left: -4px
    color: #FFF
    font-size: 13px
    line-height: 1.4
    z-index: 11111
    +mobile
        display: block
        position: relative
        width: 100%
        background: none
        color: #1E2021
        padding: 8px 0 0 0 
        box-shadow: none
        font-size: 14px
        font-weight: 300
        z-index: 1

    &:before
      position: absolute
      content: ''
      width: 0
      height: 0
      border: 6px solid transparent
      border-bottom-color: #1E2021
      left: 10px
      top: -12px
      +mobile
        display: none !important

    &:after
      width: 100%
      height: 40px
      content: ''
      position: absolute
      top: -40px
      left: 0
      +mobile
        display: none !important

.right-ribbon
  position: absolute
  right: -5px
  top: -5px
  z-index: 1
  overflow: hidden
  width: 150px
  height: 150px
  text-align: right

.right-ribbon span
  color: #fff
  text-align: center
  font-size: 14pt
  font-weight: 500
  line-height: 40px
  transform: rotate(45deg)
  width: 200px
  display: block
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1)
  position: absolute
  top: 39px
  right: -41px

.right-ribbon
  .stable
    background: #3a9800
  .latest
    background: #ee7913
  .development
    background: #4D6370


.right-ribbon span::before
  content: ''
  position: absolute
  left: 0px
  top: 100%
  z-index: -1
  border-right: 3px solid transparent
  border-bottom: 3px solid transparent

.right-ribbon .stable::before
  border-left: 3px solid #3a9800
  border-top: 3px solid #3a9800

.right-ribbon .latest::before
  border-left: 3px solid #ee7913
  border-top: 3px solid #ee7913

.right-ribbon .development::before
  border-left: 3px solid #4D6370
  border-top: 3px solid #4D6370

.right-ribbon span::after
  content: ''
  position: absolute
  right: 0%
  top: 100%
  z-index: -1
  border-left: 3px solid transparent
  border-bottom: 3px solid transparent

.right-ribbon .stable::after
  border-right: 3px solid #3a9800
  border-top: 3px solid #3a9800

.right-ribbon .latest::after
  border-right: 3px solid #ee7913
  border-top: 3px solid #ee7913

.right-ribbon .development::after
  border-right: 3px solid #4D6370
  border-top: 3px solid #4D6370

.schedule-container
  max-width: 100%
  overflow: auto