{{/* Experimental Site Ribbon */}}
<div class="experimental-ribbon">
    <div class="experimental-ribbon-content">
        <span class="experimental-ribbon-icon">
            <i class="fa-solid fa-flask"></i>
        </span>
        <span class="experimental-ribbon-text">
            <strong>Experimental R&amp;D Site</strong> - This is an unofficial prototype.
            Visit <a href="https://www.osgeo.org" target="_blank" rel="noopener">osgeo.org</a> for the official site.
        </span>
        <button class="experimental-ribbon-close" onclick="this.parentElement.parentElement.style.display='none'" aria-label="Dismiss notice">
            <i class="fa-solid fa-times"></i>
        </button>
    </div>
</div>
