.gallery
  .column
    max-height: 250px
    overflow: hidden
    border-radius: 10px
  figure
    margin: auto
    border-radius: 10px
    overflow: hidden
    height: 100%
    background: #efefef
  img
    width: auto
    height: 100%
    border-radius: 10px
  .imagetile
    width: 100%
    height: 100%  
    figure
      display: flex
      align-items: center
      justify-content: center
      a
        display: flex
        align-items: center
        justify-content: center
  .tile
    .image
      .map-info
        position: absolute
        right: 0
        height: 100%
        padding: 10px
        .button
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25)
