@font-face {
  font-family: "fa-regular-400";
  src: url("/fonts/fa-regular-400.eot");
  src: url("/fonts/fa-regular-400.woff") format("woff"),
    url("/fonts/fa-regular-400.otf") format("opentype"),
    url("/fonts/fa-regular-400.svg#filename") format("svg");
}


/* displaying the left border of the follow section for the footer */
.follow-qgis {
  border-left-style: solid;
  border-left-color: white;
}