.tile .box {
    border-radius: 50%;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

.has-bg-img {
    background: url('/img/banners/banner1.png') center;
    background-size: cover;
}