.tile .box {
  border-radius: 50%;
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

.has-bg-img {
  background: url("/img/banners/banner1.png");
  background-position: center;
  background-size: cover;
}

.card {
  box-shadow: none;
  border-radius: 0;
  height: 100%;
}

.box {
  box-shadow: none;
}

.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.equal-height .card-content {
  flex: auto;
}

@font-face {
  font-family: "fa-regular-400";
  src: url("/fonts/fa-regular-400.eot");
  src: url("/fonts/fa-regular-400.woff") format("woff"),
    url("/fonts/fa-regular-400.otf") format("opentype"),
    url("https://yoursite.com/css/fonts/fa-regular-400.svg#filename") format("svg");
}

/* Styling for standard elements markdown would produce */

h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  display: inline-block;
}

p {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}


/* Card animations as we scroll - see https://www.youtube.com/watch?v=T33NN_pPeNI */
.animation-hide {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;

}

@media(prefers-reduced-motion) {
  .animation-show {
    filter: blur(0px);
    transform: translateX(0);
    transition: none;
  }
}

.card:nth-child(1) {
  transition-delay: 400ms;
}

.card:nth-child(2) {
  transition-delay: 800ms;
}

/* Card animations as we scroll ends */