{{/* see https://bulma.io/documentation/layout/hero/ for size options */}}
{{ if .Params.HasBanner }}
    {{ $size := .Params.HeroSize | default "is-small" }}
    <section
        class="hero is-primary1 {{ $size }} has-bg-img {{ if .Params.HeroIsUserConference }}user-conference{{ end }}"
        {{ if ( .Params.HeroImage ) }}
            style="background: url('{{ absURL .Params.HeroImage | safeCSS }}');
            background-position: center; background-size: cover;"
        {{ end }}
    >
        <div class="hero-body">
            <div class="columns container">
                
                <div class="column is-8 is-flex hero-text has-text-left">
                    <div class="hero-container">
                        {{ if .Params.LabelText }}
                            <div class="label">
                                {{ .Params.LabelText }}
                            </div>
                        {{ end }}
                        <h1 class="title hero-title pr-3">
                            {{ .Params.Title }}
                        </h1>
                        {{ if .Params.SubTitle }}
                            <p class="subtitle hero-subtitle">
                                {{ .Params.SubTitle }}
                            </p>
                        {{ end }}
                    </div>
                    <div class="is-vcentered">
                        {{ if .Params.ButtonText }}
                            <a
                                class="button is-primary1 is-size-5"
                                href="{{ .Params.ButtonLink | absURL }}"
                            >
                                {{ .Params.ButtonText }}
                            </a>
                        {{ end }}
                        {{ if .Params.SupportedOS }}
                            <p class="subtitle hero-subtitle">
                                {{ .Params.SupportedOS }}
                            </p>
                        {{ end }}
                </div>
            </div>
            {{ if ( .Params.HeroLogo ) }}
                <div
                    class="logo column is-justify-content-center"
                >
                    <figure class="image">
                        <img src="{{ absURL .Params.HeroLogo | safeCSS }}" />
                    </figure>
                </div>
            {{ end }}
            </div>
        </div>

        {{ if .Params.HeroMenu }}
            {{ $menuID := default "main" .Params.HeroMenu }}
            {{ $menu := index site.Menus $menuID }}
            {{ $pageUrl := replaceRE "/$" "" .RelPermalink }}
            <div class="hero-foot">
                <nav class="tabs is-boxed is-right">
                    <div class="container">
                        <ul>
                            {{- range $menu }}
                            <li {{ if eq (replaceRE "/$" "" .URL) $pageUrl }} class="is-active"{{ end }}>
                                {{ partial "link" . }}
                            </li>
                            {{- end }}
                        </ul>
                    </div>
                </nav>
            </div>
        {{ end }}
    </section>
{{ end }}
