{{/*
  Linux Distribution Links
*/}}
<div class="content">
  <p class="title is-5 mb-3 has-text-dark">Select your Linux distribution</p>
  <p class="mb-4">
    GNU/Linux is a Free operating system built on the same principles that QGIS is built on. 
    Choose your distribution below for installation instructions.
  </p>
</div>

<div class="buttons has-addons is-fullwidth mb-3">
  <a class="button is-outlined is-primary2 is-expanded" 
      href="{{ absURL "resources/installation-guide#debian--ubuntu" }}">
    <span class="icon"><i class="fab fa-ubuntu"></i></span>
    <span>Debian/Ubuntu</span>
  </a>
  <a class="button is-outlined is-primary2 is-expanded" 
      href="{{ absURL "resources/installation-guide#fedora" }}">
    <span class="icon"><i class="fab fa-fedora"></i></span>
    <span>Fedora</span>
  </a>
  <a class="button is-outlined is-primary2 is-expanded" 
      href="{{ absURL "resources/installation-guide#nixos" }}">
    <span class="icon"><i class="fas fa-snowflake"></i></span>
    <span>NixOS</span>
  </a>
  <a class="button is-outlined is-primary2 is-expanded" 
      href="{{ absURL "resources/installation-guide#suse--opensuse" }}">
    <span class="icon"><i class="fab fa-suse"></i></span>
    <span>openSUSE</span>
  </a>
  <a class="button is-outlined is-primary2 is-expanded" 
      href="{{ absURL "resources/installation-guide#mandriva" }}">
    <span class="icon"><i class="fab fa-linux"></i></span>
    <span>Mandriva</span>
  </a>
  <a class="button is-outlined is-primary2 is-expanded" 
      href="{{ absURL "resources/installation-guide#slackware" }}">
    <span class="icon"><i class="fas fa-server"></i></span>
    <span>Slackware</span>
  </a>
  <a class="button is-outlined is-primary2 is-expanded" 
      href="{{ absURL "resources/installation-guide#arch-linux" }}">
    <span class="icon"><i class="fab fa-linux"></i></span>
    <span>Arch Linux</span>
  </a>
  <a class="button is-outlined is-primary2 is-expanded" 
      href="{{ absURL "resources/installation-guide#flatpak" }}">
    <span class="icon"><i class="fas fa-box"></i></span>
    <span>Flatpak</span>
  </a>
  <a class="button is-outlined is-primary2 is-expanded" 
      href="{{ absURL "resources/installation-guide#spack" }}">
    <span class="icon"><i class="fas fa-cubes"></i></span>
    <span>Spack</span>
  </a>
  <a class="button is-info is-expanded" 
      href="{{ absURL "resources/installation-guide#linux" }}">
    <span>View Complete Installation Guide</span>
    <span class="icon">
      <i class="fas fa-arrow-right"></i>
    </span>
  </a>
</div>
