{{/*
  Source Code Downloads
*/}}
<div class="content mb-4">
  <p class="title is-5 has-text-dark">QGIS Source Code</p>
  <p class="subtitle is-6 has-text-grey">
    Access the QGIS source code repositories and contribution guidelines
  </p>
</div>

<div class="buttons has-addons is-fullwidth">
  <a class="button is-primary1 is-expanded" 
      href="/downloads/qgis-latest-ltr.tar.bz2"
      download>
    <span class="icon">
      <i class="fas fa-code"></i>
    </span>
    <span>LTR Source</span>
  </a>
  <a class="button is-primary1 is-outlined is-expanded" 
      href="/downloads/qgis-latest.tar.bz2"
      download>
    <span class="icon">
      <i class="fas fa-code"></i>
    </span>
    <span>Latest Source</span>
  </a>
</div>
