{{/*
  Download Platform Dropdown
*/}}
<div class="field">
  <div class="control">
    <div class="dropdown" id="platform-dropdown" style="width: 100%;">
      <div class="dropdown-trigger" style="width: 100%;">
        <button class="button is-primary3 is-fullwidth" aria-haspopup="true" aria-controls="dropdown-menu" style="justify-content: space-between;">
          <span class="icon-text" id="selected-platform-text">
            <span class="icon"><i class="fab fa-windows"></i></span>
            <span>Windows - Most Popular</span>
          </span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu" style="width: 100%;">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item platform-option" data-platform="windows">
            <span class="icon-text">
              <span class="icon"><i class="fab fa-windows"></i></span>
              <span><strong>Windows</strong> - Desktop OS</span>
            </span>
          </a>
          <a href="#" class="dropdown-item platform-option" data-platform="macos">
            <span class="icon-text">
              <span class="icon"><i class="fab fa-apple"></i></span>
              <span><strong>macOS</strong> - Apple Desktop</span>
            </span>
          </a>
          <a href="#" class="dropdown-item platform-option" data-platform="linux">
            <span class="icon-text">
              <span class="icon"><i class="fab fa-linux"></i></span>
              <span><strong>Linux</strong> - Open Source OS</span>
            </span>
          </a>
          <a href="#" class="dropdown-item platform-option" data-platform="bsd">
            <span class="icon-text">
              <span class="icon"><i class="fab fa-freebsd"></i></span>
              <span><strong>BSD</strong></span>
            </span>
          </a>
          <a href="#" class="dropdown-item platform-option" data-platform="container">
            <span class="icon-text">
              <span class="icon"><i class="fab fa-docker"></i></span>
              <span><strong>Container Images</strong></span>
            </span>
          </a>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item platform-option" data-platform="mobile">
            <span class="icon-text">
              <span class="icon"><i class="fas fa-mobile-alt"></i></span>
              <span><strong>Mobile & Tablet</strong> - Android & iOS</span>
            </span>
          </a>
          <a href="#" class="dropdown-item platform-option" data-platform="source">
            <span class="icon-text">
              <span class="icon"><i class="fas fa-code"></i></span>
              <span><strong>Source Code</strong></span>
            </span>
          </a>
          <a href="#" class="dropdown-item platform-option" data-platform="example">
            <span class="icon-text">
              <span class="icon"><i class="fas fa-database"></i></span>
              <span><strong>Example Datasets</strong></span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
