{{/*
  macOS Download Buttons
*/}}
<!-- LTR Section -->
<div class="mb-5">
  <div class="level is-mobile mb-2">
    <div class="level-left">
      <div class="level-item">
        <p class="is-size-5 has-text-weight-medium mb-0">Regular Version</p>
      </div>
    </div>
  </div>
  <a class="button is-primary1 is-fullwidth" 
      href="https://nbg1.your-objectstorage.com/qgis-download/macos/qgis-macos-pr.dmg"
      onclick="thanks(this)"
      download>
    <span class="icon">
      <i class="fas fa-download"></i>
    </span>
    <span>Regular Version for macOS</span>
  </a>
</div>

<!-- Nightly builds Section -->
<div class="mb-4">
    <div class="level-left">
      <div class="level-item">
        <p class="is-size-5 has-text-weight-medium mb-0">Nightly builds</p>
      </div>
    </div>
  </div>
  <a class="button is-primary1 is-outlined is-fullwidth" 
      href="https://nightly.link/qgis/qgis-notarize/workflows/notarize/main/QGIS-master.zip"
      onclick="thanks(this)"
      download>
    <span class="icon">
      <i class="fas fa-download"></i>
    </span>
    <span>Nightly builds for macOS</span>
  </a>
</div>
