{{/*
  Mobile App Downloads
*/}}
<div class="content mb-4">
  <p class="title is-5 mb-2 has-text-dark">QField:</p>
  <div class="buttons has-addons mb-3">
    <a class="button is-primary1 is-outlined is-expanded" 
        href="https://play.google.com/store/apps/details?id=ch.opengis.qfield"
        target="_blank">
      <span class="icon">
        <i class="fab fa-google-play"></i>
      </span>
      <span>Get it on Google Play</span>
    </a>
    <a class="button is-dark is-outlined is-expanded" 
        href="https://apps.apple.com/app/qfield-for-qgis/id1531726814"
        target="_blank">
      <span class="icon">
        <i class="fab fa-app-store-ios"></i>
      </span>
      <span>Download on App Store</span>
    </a>
  </div>

  <p class="title is-5 mb-2 has-text-dark">Mergin Maps:</p>
  <div class="buttons has-addons mb-3">
    <a class="button is-primary1 is-outlined is-expanded" 
        href="https://play.google.com/store/apps/details?id=uk.co.lutraconsulting&amp;utm_source=qgis.org"
        target="_blank">
      <span class="icon">
        <i class="fab fa-google-play"></i>
      </span>
      <span>Get it on Google Play</span>
    </a>
    <a class="button is-dark is-outlined is-expanded" 
        href="https://apps.apple.com/us/app/mergin-maps-qgis-in-pocket/id1478603559"
        target="_blank">
      <span class="icon">
        <i class="fab fa-app-store-ios"></i>
      </span>
      <span>Download on App Store</span>
    </a>
  </div>
</div>
