{{/*
  macOS Download Buttons
*/}}
<!-- LTR Section -->
<div class="mb-5">
  <div class="level is-mobile mb-2">
    <div class="level-left">
      <div class="level-item">
        <p class="is-size-5 has-text-weight-medium mb-0">Long Term Version</p>
      </div>
    </div>
  </div>
  <a class="button is-primary1 is-fullwidth" 
      href="/downloads/macos/qgis-macos-ltr.dmg"
      onclick="thanks(this)"
      download>
    <span class="icon">
      <i class="fas fa-download"></i>
    </span>
    <span>LTR Version for macOS</span>
  </a>
</div>

<!-- Regular Version Section -->
<div class="mb-4">
    <div class="level-left">
      <div class="level-item">
        <p class="is-size-5 has-text-weight-medium mb-0">Regular Version</p>
      </div>
    </div>
  </div>
  <a class="button is-primary1 is-outlined is-fullwidth" 
      href="/downloads/macos/qgis-macos-pr.dmg"
      onclick="thanks(this)"
      download>
    <span class="icon">
      <i class="fas fa-download"></i>
    </span>
    <span>Regular Version for macOS</span>
  </a>
</div>
