{{/*
  BSD System Downloads
*/}}
<div class="content mb-4">
  <p class="title is-5 mb-2 has-text-dark">QGIS for BSD Systems</p>
  <p class="subtitle is-6 has-text-grey">
    Installation instructions for FreeBSD and OpenBSD variants
  </p>
</div>

<div class="buttons has-addons mb-3">
  <a class="button is-primary1 is-outlined is-expanded" 
      href="{{ absURL "resources/installation-guide#freebsd" }}">
    <span class="icon"><i class="fab fa-freebsd"></i></span>
    <span>FreeBSD Installation Guide</span>
  </a>
  <a class="button is-primary1 is-outlined is-expanded" 
      href="{{ absURL "resources/installation-guide#openbsd" }}">
    <span class="icon"><i class="fab fa-freebsd"></i></span>
    <span>OpenBSD Installation Guide</span>
  </a>
</div>
