{{/*
  Example Dataset Downloads
*/}}
<div class="content mb-4">
  <p class="title is-5 has-text-dark">Example Datasets</p>
  <p class="subtitle is-6 has-text-grey">
    Download example datasets for testing and exploration
  </p>
</div>

<div class="buttons has-addons is-fullwidth">
  <a class="button is-primary1 is-expanded" 
      href="https://docs.qgis.org/latest/en/docs/user_manual/introduction/getting_started.html#downloading-sample-data"
      download>
    <span class="icon">
      <i class="fas fa-database"></i>
    </span>
    <span>Download Example Dataset</span>
  </a>
</div>
