<center>
    <a class="button is-primary1 is-size-5" href="/documentation/overview/" >Explore QGIS</a>
</center>

<br>
<br>
<div class="explore container is-flex">
    <div class=white-corner></div>
    <div class="columns">
        <div class="column">
            <figure>
                <img src="/img/explore.png" />
            </figure>
        </div>
        <div class="column text">
            <h2 class="title has-text-weight-bold">
                👋 The power of open  source community
            </h2>
            <p class="is-size-4 has-text-weight-light">Our community development model gives everyone a way to shape the future of QGIS according to their needs</p>
            <ul class="arrow-ul is-size-4 has-text-weight-bold">
                <li>Join our annual international conference to explore the future of GIS</li>
                <li>Find local user groups and support providers</li>
                <li>Learn how people around the world are solving problems with QGIS</li>
            </ul>
            <a class="button is-size-5" href="/community/" >
                Get involved
            </a>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<div class="light-blue">
    <h2 class="title has-text-weight-bold">
        Free and open source
    </h2>
    <p class="is-size-4 has-text-weight-light">QGIS is a public project hosted on QGIS.org, licensed as GNU GPLv2, owned by its contributors.</p>
    <p class="is-size-4 has-text-weight-bold">For that reason QGIS is Free and Open Source software, forever. </p>
    <br>
    <a class="button is-primary1 is-size-5" href="/download/">FREE DOWNLOAD</a>
    <br>
    <br>
    <br>
    <br>
</div>

<div class="container is-flex" id="start-using-qgis">
        <div class="tile is-vertical">
            <p class="is-size-4">
                <h2 class="title has-text-weight-bold">
                    Start using QGIS 🚀
                </h2>
                <p><br></p>
                <ul class="arrow-ul is-size-5 has-text-weight-bold">
                    <li>Quick-start tutorials</li>
                    <li>Live demos</li>
                    <li>Up-to-date documentation</li>
                </ul>
                <p><br></p>
                <a class="is-size-5" href="https://docs.qgis.org/3.28/en/docs/user_manual/" >
                    Go to materials
                </a>
            </p>
        </div>
        <div class="tile">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/q7O819lFKc4?si=RQ4nw9yqdEAAONpe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
</div>
