<div class="container">
    <div class="has-text-centered explore-button">
        <a class="button is-primary1 is-size-5" href="{{ absURL "product/overview/" }}"
            >Explore QGIS</a
        >
    </div>
</div>

<div class="explore container is-flex">
    <div class="columns">
        <div class="column photo">
            <figure>
                <img src="{{ absURL "img/explore.jpg" }}" />
            </figure>
        </div>
        <div class="column text">
            <h2>
                👋 The power of open source community
            </h2>
            <p class="is-size-5 has-text-weight-light">
                Our community development model gives everyone a way to shape
                the future of QGIS according to their needs
            </p>
            <ul class="arrow-ul is-size-5 has-text-weight-bold">
                <li>
                    Join our annual international conference to explore the
                    future of GIS
                </li>
                <li>Find local user groups and support providers</li>
                <li>
                    Learn how people around the world are solving problems with
                    QGIS
                </li>
            </ul>
            <a class="button is-size-5" href="{{ absURL "community/involve" }}"> Get involved </a>
        </div>
    </div>
</div>

<div id="light-blue-block">
    <div class="container has-text-centered mobile-bg">
        <h2>Free and open source</h2>
        <p class="is-size-5 has-text-weight-light">
            QGIS is a public project hosted on QGIS.org, licensed as GNU GPLv2,
            owned by its contributors.
        </p>
        <p class="is-size-5 has-text-weight-bold">
            For that reason QGIS is Free and Open Source software, forever.
        </p>

        <a class="button is-primary1 is-size-5 mt-5" href="{{ absURL "download/" }}">Free download</a>
    </div>
</div>

<div id="start-using-qgis">
<div class="container is-flex mobile-bg">
    <div class="tile is-vertical p-5">
        <div>
            <h2>Start using QGIS 🚀</h2>
            <ul class="arrow-ul mt-4 is-size-5 has-text-weight-bold">
                <li>Quick-start tutorials</li>
                <li>Live demos</li>
                <li>Up-to-date documentation</li>
            </ul>

            <a class="mt-5 is-size-5 block" href="https://docs.qgis.org/3.28/en/docs/user_manual/">
                Go to materials
            </a>
        </div>
    </div>
    <div class="tile video">
        <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/q7O819lFKc4?si=RQ4nw9yqdEAAONpe"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
        ></iframe>
    </div>
</div>
</div>
