<div class="container">
    <div class="has-text-centered explore-button">
        <a class="button is-primary1 is-size-5" href="{{ absURL "project/overview/" }}"
            >Explore QGIS</a
        >
    </div>
</div>

<div class="explore container is-flex">
    <div class="columns">
        <div class="column photo">
            <figure>
                <img src="{{ absURL "img/explore.jpg" }}" />
            </figure>
        </div>
        <div class="column text">
            <h2>
                👋 The power of an open source community
            </h2>
            <p class="is-size-5 has-text-weight-light">
                Our community development model gives everyone a way to shape
                the future of QGIS according to their needs.
            </p>
            <ul class="arrow-ul is-size-5 has-text-weight-bold">
                <li>
                    Join our
                    <a href="{{ absURL "community/organisation/meetings/uc-2025/" }}">
                    annual international conference</a> to explore the future of
                    GIS.
                </li>
                <li>Find local user groups and support providers.</li>
                <li>
                    Learn how people around the world are solving problems with
                    QGIS.
                </li>
            </ul>
            <a class="button is-size-5" href="{{ absURL "community/involve" }}"> Get involved </a>
        </div>
    </div>
</div>

<div id="light-blue-block">
    <div class="container has-text-centered mobile-bg">
        <h2>Free and open source</h2>
        <p class="is-size-5 has-text-weight-light">
            QGIS is a public project hosted on QGIS.org, licensed under GNU GPLv2+,
            owned by its contributors.
        </p>
        <p class="is-size-5 has-text-weight-bold">
            Because of our license, QGIS is Free and Open Source software, forever.
        </p>

        <a class="button is-primary1 is-size-5 mt-5" href="{{ absURL "download/" }}">Free download</a>
    </div>
</div>

<div id="start-using-qgis">
<div class="container is-flex mobile-bg">
    <div class="tile is-vertical p-5">
        <div>
            <h2>Start using QGIS 🚀</h2>
            <ul class="arrow-ul mt-4 is-size-5 has-text-weight-bold">
                <li>Quick-start tutorials</li>
                <li>Live demos</li>
                <li>Up-to-date documentation</li>
            </ul>

            <a class="mt-5 is-size-5 block" href="https://docs.qgis.org/latest/en/docs/user_manual/index.html">
                View documentation
            </a>
        </div>
    </div>
    <div class="tile video">
        <div class="youtube" data-video-id="2Pk-etS1HNo">
            <div class="play-button"></div>
        </div>

    </div>
</div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var youtubeElements = document.querySelectorAll('.youtube');
    
    youtubeElements.forEach(function(element) {
        var videoId = element.getAttribute('data-video-id');
        var maxResThumbnailUrl = 'https://img.youtube.com/vi/' + videoId + '/maxresdefault.jpg';
        var fallbackThumbnailUrl = 'https://img.youtube.com/vi/' + videoId + '/hqdefault.jpg';

        // Check if the max resolution thumbnail is available
        var img = new Image();
        img.onload = function() {
            if (img.width > 120) {
                element.style.backgroundImage = 'url(' + maxResThumbnailUrl + ')';
            } else {
                element.style.backgroundImage = 'url(' + fallbackThumbnailUrl + ')';
            }
        };
        img.onerror = function() {
            element.style.backgroundImage = 'url(' + fallbackThumbnailUrl + ')';
        };
        img.src = maxResThumbnailUrl;

        element.addEventListener('click', function() {
            var iframe = document.createElement('iframe');
            iframe.setAttribute('width', '560');
            iframe.setAttribute('height', '315');
            iframe.setAttribute('src', 'https://www.youtube.com/embed/' + videoId + '?autoplay=1');
            iframe.setAttribute('frameborder', '0');
            iframe.setAttribute('allow', 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share');
            iframe.setAttribute('allowfullscreen', 'true');
            this.innerHTML = '';
            this.appendChild(iframe);
        });
    });
});

</script>
