<footer class="footer">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column is-2-desktop">
                <figure class="image is-128x128">
                    <img alt="Logo" src="{{ absURL "img/footlogo.svg" }}" />
                </figure>
            </div>
            <div class="column mb-6">
                <div class="columns is-desktop">
                    <ul class="column mb-5">
                        <li class="is-size-5 mb-5 ">
                            <a href="{{ absURL "product/overview" }}" class="footertitle text-nowrap">
                                Product
                            </a>
                        </li>
                        {{- range site.Menus.main }}
                            {{ range sort .Children "Weight" }}
                                {{- if eq .Parent "Product" -}}
                                    <li class="mb-4">
                                        <a class="has-text-white text-nowrap" href="{{ .URL }}">
                                            {{ .Name }}
                                        </a>
                                    </li>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </ul>
            

                    <ul class="column mb-5">
                        <li class="is-size-5 mb-5">
                            <a href="{{ absURL "community/involve" }}" class="footertitle text-nowrap">
                                Community
                            </a>
                        </li>
                        {{- range site.Menus.main }}
                            {{ range sort .Children "Weight" }}
                                {{- if eq .Parent "Community" -}}
                                    <li class="mb-4">
                                        <a class="has-text-white text-nowrap" href="{{ .URL }}">
                                            {{ .Name }}
                                        </a>
                                    </li>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </ul>

                    <ul class="column mb-5">
                        <li class="is-size-5 mb-5 footertitle">
                            <a href="{{ absURL "resources/hub" }}" class="footertitle text-nowrap">
                                Resources
                            </a>
                        </li>
                        {{- range site.Menus.main }}
                            {{ range sort .Children "Weight" }}
                                {{- if eq .Parent "Resources" -}}
                                    <li class="mb-4">
                                        <a class="has-text-white text-nowrap" href="{{ .URL }}">
                                            {{ .Name }}
                                        </a>
                                    </li>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </ul>

                    <ul class="column mb-5">
                        <li class="is-size-5 mb-5 ">
                            <a href="{{ absURL "product/overview" }}" class="footertitle text-nowrap">
                                Funding
                            </a>
                        </li>
                        {{- range site.Menus.main }}
                            {{ range sort .Children "Weight" }}
                                {{- if eq .Parent "Funding" -}}
                                    <li class="mb-4">
                                        <a class="has-text-white text-nowrap" href="{{ .URL }}">
                                            {{ .Name }}
                                        </a>
                                    </li>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="column is-2-desktop">
                <a href="{{ absURL "download" }}">
                    <button class="button is-primary1 is-size-5">Download</button>
                </a>
            </div>
        </div>
        <div class="columns is-desktop">
            <div class="copyright column is-2-desktop has-text-white"></div>
            <div class="column social-icons-links">
                <a class="has-text-white" href="https://www.facebook.com/profile.php?id=100057434859831">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a class="has-text-white" href="https://twitter.com/qgis">
                    <i class="fa-brands fa-square-twitter"></i>
                </a>
                <a class="has-text-white" href="https://www.youtube.com/@qgishome">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a class="has-text-white" href="https://mapstodon.space/@qgis@fosstodon.org">
                    <i class="fa-brands fa-foss"></i>
                </a>
                <a class="has-text-white" href="https://github.com/qgis/">
                    <i class="fa-brands fa-square-github"></i>
                </a>
                <a class="has-text-white" href="{{ absURL "community/organisation/mailinglists" }}">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </div>
        </div>
        <div class="columns is-desktop privacy-links">
            <a href="{{ absURL "diversity" }}" class="column is-narrow is-offset-2-desktop">Diversity statement</a>
            <a href="{{ absURL "conduct" }}" class="column is-narrow">Code of conduct</a>
            <a href="{{ absURL "environmental-policy" }}" class="column is-narrow">Environmental policy</a>
            <a href="{{ absURL "license" }}" class="column is-narrow">License</a>
            <a href="{{ absURL "styleguide" }}" class="column is-narrow">Visual Style Guide</a>   
            <a href="{{ absURL "goodies" }}" class="column is-narrow">Goodies</a>   

        </div>
    </div>
</footer>

