<footer class="footer">
    <div class="columns is-desktop">
        <div class="column is-3-desktop">
            <figure class="image is-128x128">
                <img alt="Logo" src="{{ absURL "img/logo.png" }}" />
            </figure>
        </div>
        <div class="column mb-6">
            <div class="columns is-desktop">
                <ul class="column mb-5">
                    <li class="is-size-4 mb-5 has-text-white">About</li>
                    <li class="mb-4">
                        <a href="#" class="has-text-white text-nowrap">
                            Applications
                        </a>
                    </li>
                    <li class="mb-4">
                        <a
                            href="#"
                            class="has-text-white text-nowrap is-size-6"
                        >
                            Plugins
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="has-text-white text-nowrap">
                            Visual Changelogs
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="has-text-white text-nowrap">
                            Members and Donors
                        </a>
                    </li>
                    <li>
                        <a href="#" class="has-text-white text-nowrap">
                            Support
                        </a>
                    </li>
                </ul>

                <ul class="column mb-5">
                    <li class="is-size-4 mb-5 has-text-white">Community</li>
                    <li class="mb-4">
                        <a href="#" class="has-text-white text-nowrap">
                            How to contribute
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="has-text-white text-nowrap">Value</a>
                    </li>
                    <li>
                        <a href="#" class="has-text-white text-nowrap">
                            Project organisation
                        </a>
                    </li>
                </ul>

                <ul class="column mb-5">
                    <li class="is-size-4 mb-5 has-text-white">Download</li>
                    <li class="is-size-4 mb-5 has-text-white">Resources</li>
                    <li class="mb-4">
                        <a href="#" class="has-text-white text-nowrap">
                            QGIS Documentation
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="has-text-white text-nowrap">
                            Releases
                        </a>
                    </li>
                    <li class="mb-4 mb-5">
                        <a href="#" class="has-text-white text-nowrap">
                            Daily reports
                        </a>
                    </li>
                    <li>
                        <a href="#" class="has-text-white text-nowrap">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column is-3-desktop">
            <div class="is-size-4 mb-5 has-text-white text-nowrap">
                Support our community!
            </div>
            <a href="/funding">
                <button class="button is-info has-text-white">Donate</button>
            </a>
        </div>
    </div>
    <div class="columns is-desktop">
        <div class="copyright column is-3-desktop has-text-white">©QGIS</div>
        <div class="column social-icons-links">
            <a class="has-text-white" href="#">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a class="has-text-white" href="#">
                <i class="fa-brands fa-square-twitter"></i>
            </a>
            <a class="has-text-white" href="#">
                <i class="fa-brands fa-youtube"></i>
            </a>

            <a class="has-text-white" href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="has-text-white" href="#">
                <i class="fa-brands fa-square-github"></i>
            </a>
            <a class="has-text-white" href="#">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </div>
    </div>
    <div class="columns is-desktop privacy-links">
        <a href="#" class="has-text-grey column is-narrow is-offset-3-desktop"
            >Diversity statement</a
        >
        <a href="#" class="has-text-grey column is-narrow">Privacy policy</a>
        <a href="#" class="has-text-grey column is-narrow">Code of conduct</a>
        <a href="#" class="has-text-grey column is-narrow">Cookie setting</a>
    </div>
</footer>
