<section class="section">
    <div class="container">
        <h2 class="pb-6">
            QGIS supporters
        </h2>

        <div class="supporters-grid large-grid">
            {{ $.Scratch.Set "counter" 0 }}
            {{ $headlessbundle := .Site.GetPage "/funders" }}
            {{ range ( $headlessbundle.Resources.ByType "page" ) }}
                {{ if or (eq .Params.level "Large") (eq .Params.level "Flagship") }}
                    {{ $startDate := time .Params.startDate }}
                    {{ $endDate := time .Params.endDate }}
                    {{ if ge $endDate now }}
                        {{ $count := add ($.Scratch.Get "counter") 1 }}
                        {{ $.Scratch.Set "counter" $count }}
                        <div class="large-supporter is-vertical is-flex">
                            <article class="tile is-child box is-transparent is-flex is-justify-content-center is-align-items-center">
                                <a href="{{ .Params.link }}">
                                    <figure>
                                        <img src="{{ .Site.BaseURL }}funders/{{ .Params.logo }}" alt="{{ .Params.title }}" width="300vw">
                                    </figure>
                                </a>
                            </article>
                            <center>
                                {{ if eq .Params.level "Flagship" }}
                                    <p class="is-size-6 has-text-weight-bold" style="color: #F1903B">
                                        Golden partner
                                    </p>
                                {{ else }}
                                    <p class="is-size-6 has-text-weight-bold" style="color: #8e8e8e">
                                        Silver partner
                                    </p>
                                {{ end }}
                                <br>
                            </center>
                        </div>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>

        <div class="supporters-grid small-grid">
                {{ $.Scratch.Set "counter" 0 }}
                {{ $headlessbundle := .Site.GetPage "/funders" }}
                {{ range ( $headlessbundle.Resources.ByType "page" ) }}
                    {{ if or (eq .Params.level "Small") (eq .Params.level "Medium") }}
                        {{ $startDate := time .Params.startDate }}
                        {{ $endDate := time .Params.endDate }}
                        {{ if ge $endDate now }}
                            {{ $count := add ($.Scratch.Get "counter") 1 }}
                            {{ $.Scratch.Set "counter" $count }}
                            <div class="tile">
                                <article class="tile is-child box is-transparent is-flex is-justify-content-center is-align-items-center p-0">
                                    <a href="{{ .Params.link }}">
                                        <figure >
                                            <img class="grayscale" src="{{ .Site.BaseURL }}funders/{{ .Params.logo }}" alt="{{ .Params.title }}" width="150vw">
                                        </figure>
                                    </a>
                                </article>
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
        </div>

    </div>
</section>
