<div class="column is-3">

  <nav class="sidebar">
    <ul class="content-wrapper">
          <li>
            <a class="" href="/about/">About</a>
          </li>
          <li>
            <a class="" href="/community/">Community</a>
                <ul>
                    <li>
                    <a href="/value-proposition/">Value</a>
                    </li>
                    <li>
                      <a href="/charter/">Charter</a>
                      </li>
                </ul>
          </li>
          <li>
            <a href="/download/download/">Download</a>
          </li>
          <li class="has-active">
            <a href="/hub/">Resources</a>
                <ul>
                    <li>
                      <a href="/showcase/overview/">Showcase</a>
                    </li>
                    <li class="is-active">
                      <a href="/documentation/overview/">Documentation</a>
                    </li>
                    <li>
                      <a href="#">Roadmap</a>
                    </li>
                    <li>
                      <a href="#">License</a>
                    </li>
                    <li>
                      <a href="#">Roadmap</a>
                    </li>
                    <li>
                      <a href="#">Showcase</a>
                    </li>
                    <li>
                      <a href="#">Roadmap</a>
                    </li>
                    <li class="external-link">
                      <a href="#">Plugins</a>
                    </li>
                    <li>
                      <a href="#">Showcase</a>
                      <ul>
                        <li>
                        <a href="/value-proposition/">Value</a>
                        </li>
                        <li>
                          <a href="/charter/">Charter</a>
                          </li>
                    </ul>
                    </li>
                    <li>
                      <a href="#">License</a>
                    </li>
                </ul>
          </li>
    </ul>
  </nav>

</div>


