{{ with .Page }}
{{ $pageUrl:= .RelPermalink }}

<div id="hamburger-btn" onclick="toggleMenu()"><span id="ham-title"></span></div>
<div class="column is-3">
  <nav id="sidebar" class="sidebar">
    {{/* print $pageUrl */}}
    <ul class="content-wrapper">
    {{- range site.Menus.main }}
        {{ $menuItemID := add "ul-" (replace .URL "/" "") }}
        <li {{ if findRE .URL $pageUrl }} class="is-active"{{ end }}>
        {{ if .HasChildren }}
            <div class="has-child">
                <a href="{{ .URL }}">{{ .Name }}</a>
                <span onclick="toggleSubMenu('{{ $menuItemID }}')" class="drop-arrow"><img src="{{ "img/arrow.svg" | absURL }}"/></span>
            </div>
            <ul id="{{ $menuItemID }}" class="collapsed">
                {{ range sort .Children "Weight" }}
                    {{ $innerMenuItemID := add "ul-" (replace .URL "/" "") }}
                    <li {{ if findRE .URL $pageUrl }} class="is-active"{{ end }}>
                    {{ if .HasChildren }}
                        <div class="has-child">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                            <span onclick="toggleSubMenu('{{ $innerMenuItemID }}')" class="drop-arrow"><img src="{{ "img/arrow.svg" | absURL }}"/></span>
                        </div>
                        <ul id="{{ $innerMenuItemID }}" class="collapsed">
                            {{ range sort .Children "Weight" }}
                                <li {{ if findRE .URL $pageUrl }} class="is-active"{{ end }}>
                                    <a href="{{ .URL }}">{{ .Name }}</a>
                                </li>
                            {{ end }}
                        </ul>
                    {{ else }}
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}
                    </li>
                {{ end }}
            </ul>
        {{ else }}
            <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
        </li>
    {{- end }}
    </ul>
  </nav>
</div>
{{ end }}

<script>
function toggleSubMenu(listId) {
    document.getElementById(listId).classList.toggle('unfolded');
}

function toggleMenu() {
    document.getElementById('sidebar').classList.toggle('visible');
    document.getElementById('hamburger-btn').classList.toggle('open');
}

// compose title for menu button: contatenate parent section titles
let actileListItem = document.getElementsByClassName('is-active')[0];
let ham = document.getElementById('ham-title');
let hamTitle = actileListItem.querySelector('a').textContent;
if (actileListItem.parentElement.previousElementSibling != null) {
    hamTitle = actileListItem.parentElement.previousElementSibling.querySelector('a').textContent + ' / ' + hamTitle;
}
ham.textContent = hamTitle;

// expand active section
if ((e = actileListItem.querySelector('ul')) != null )
    e.classList.toggle('unfolded');
</script>
