{{ $currentPage := . }}
{{ $pageUrl:= $currentPage.RelPermalink }}
{{ $currentSubmenu := .Params.submenus }}
{{ if $currentSubmenu }}
{{ $menus := index .Site.Menus $currentSubmenu }}
{{/* printf "%s" $menus */}}
{{/* printf "%s" $currentSubmenu */}}
<section>
    <nav class="navbar navigation is-primary" aria-label="sub navigation">
        <div id="sub-menu" class="navbar-menu">
            <div class="navbar-end">
                {{ range sort $menus "Weight"}}
                {{/* printf "Current Submenu: %s" .Params.submenu */}}
                {{ if eq .Params.submenu $currentSubmenu }}
                    {{/* printf "Current Submenu matched: %s" $currentSubmenu */}}
                    {{ $menuItemUrl := .URL }}
                    {{ if .HasChildren }}
                <div class="navbar-item has-dropdown is-hoverable{{ if eq $menuItemUrl $pageUrl }} is-active{{ end }}">
                    <a class="navbar-link is-size-7">
                        {{ .Pre }}<span>{{ .Name }}</span>
                    </a>
                    <div class="navbar-dropdown">
                        {{ range .Children }}
                        <a class="navbar-item is-size-7{{ if eq $menuItemUrl $pageUrl }} is-active{{ end }}" href="{{ .URL }}">
                            {{ .Pre }}<span>{{ .Name }}</span>
                        </a>
                        {{ end }}
                    </div>
                </div>
                    {{ else }}
                    <a class="navbar-item is-size-7{{ if eq $menuItemUrl $pageUrl }} is-active{{ end }}" href="{{ .URL }}">
                        {{ .Pre }}<span>{{ .Name }}</span>
                    </a>
                    {{ end }}
                {{ end }}
                {{ end }}
            </div>
        </div>
    </nav>
</section>
{{ end }}