
/* Bulma Overrides by Tim */

/* Used to make the primary menu dropdowns fall over the secondary menu. */
.is-highest { z-index: 1000; }

/* Gapless tiles support - see https://codepen.io/hus_hmd/pen/xzBGGo */
.tile.is-gapless {
    .tile.is-parent {
      padding: 0;
    }
    
    .tile.is-vertical>.tile.is-child {
      margin-bottom: 0 !important;
    }
  }

/* Dont underline links in blocks */
.notification a:not(.button):not(.dropdown-item) {
  text-decoration: none;
}