/**
* Hidden fallback
*/
[hidden] {
    display: none;
    visibility: hidden;
}

button.button {
    border-radius: 10px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
.narrow {
    max-width: 768px !important;
}

a.heading-anchor {
  visibility: hidden;
}

h1:hover > a.heading-anchor,
h2:hover > a.heading-anchor,
h3:hover > a.heading-anchor,
h4:hover > a.heading-anchor,
h5:hover > a.heading-anchor,
h6:hover > a.heading-anchor {
  visibility: visible;

}
