@font-face {
    font-family: "fa-regular-400";
    src: url("/fonts/fa-regular-400.eot");
    src:
        url("/fonts/fa-regular-400.woff") format("woff"),
        url("/fonts/fa-regular-400.otf") format("opentype"),
        url("/fonts/fa-regular-400.svg#filename") format("svg");
}

/* displaying the left border of the follow section for the footer */
.follow-us {
    border-left-style: solid;
    border-left-color: white;
}

/**
* Hidden fallback
*/
[hidden] {
    display: none;
    visibility: hidden;
}

button.button {
    border-radius: 10px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
.narrow {
    max-width: 768px !important;
}

input[type="radio"] {
  visibility: hidden;
  display: none;
  height: 0;
  width: 0;
}

input[type="radio"]:checked + label {
  background-color: #589632 !important;
  color: #fff !important;
}

label.button {
  border-radius: 10px;
  margin: 5px;
  padding-bottom: 0rem;
  padding-top: calc(0.5em - 1px);
  color: #000 !important;
}

a.heading-anchor {
  visibility: hidden;
}

select {
  background-color: #fff;
  border: none;
}

h1:hover > a.heading-anchor,
h2:hover > a.heading-anchor,
h3:hover > a.heading-anchor,
h4:hover > a.heading-anchor,
h5:hover > a.heading-anchor,
h6:hover > a.heading-anchor {
  visibility: visible;
}
